﻿<style>
div.cpw-orpau-admin-login
{
	width:350px;
	margin:0 auto;
}
div.cpw-orpau-admin-login h2
{
	text-align:center;
}
div.cpw-orpau-admin-login input
{
	width:275px;
}
div.cpw-orpau-admin-login div.title
{
	width:60px;
	display:inline-block;
	text-align:right;
	padding-right:3px;
}
div.cpw-orpau-admin-login div.row
{
	margin-bottom:5px;
	vertical-align:text-top;
}
</style>
<div class="cpw-orpau-admin-login">

	<h2>Вход в административную часть сайта ОРПАУ:</h2>

	<div class="row">
		<div class="title">Логин:</div>
		<input type="text" value="<%= obj.txt('login') %>" />
	</div>

	<div class="row">
		<div class="title">Пароль:</div>
		<input type="password" value="<%= obj.txt('password') %>" />
	</div>

	<div class="row">
		<div class="title"></div>
		<button class="login">Войти</button>
	</div>

</div>