<style>
div.cpw-auth-manager-by-cert-step1
{
	max-width:400px;
	margin:0 auto;
}
div.cpw-auth-manager-by-cert-step1 .capicom-defined
{
	display:none;
}
div.cpw-auth-manager-by-cert-step1 .capicom-undefined
{
	color:green;
}
div.cpw-auth-manager-by-cert-step1 .capicom-undefined ol
{
	margin-top:5px;
}
div.cpw-manager-select2-result .fio
{
	font-weight:bold;
}
div.cpw-manager-select2-result .info
{
	padding-left:20px;
}
div.cpw-manager-select2-result .info .title
{
	color:silver;
}
div.cpw-manager-select2-result .info .attention
{
	color:red;
}
div.cpw-certificate-select2-result div.value
{
	font-weight:bold;
	display:inline-block;
}
div.cpw-certificate-select2-result div.Subject span.title
{
	color:gray;
}
div.cpw-certificate-select2-result div.extra
{
	margin-left:20px;
	font-size:small;
	color:gray;
}
div.cpw-certificate-select2-result div.extra div.value
{
	font-size:small;
	font-weight:normal;
	color:black;
}
div.cpw-certificate-select2-result span.attention
{
	color:red;
}
div.cpw-certificate-select2-result span.ok
{
	color:green;
}
div.cpw-auth-manager-by-cert-step1 div.attention
{
	margin-top:10px;
	font-weight:bold;
}
div.cpw-auth-manager-by-cert-step1 div.selected-au div.fio
{
	display:none;
}
div.cpw-auth-manager-by-cert-step1 div.selected-cert div.cpw-certificate-select2-result div.extra
{
	cursor:help;
	margin-right:30px;
	margin-top:3px;
	margin-left:15px;
	padding-left:5px;
}
div.cpw-auth-manager-by-cert-step1 div.selected-cert div.cpw-certificate-select2-result div.extra:hover
{
	background-color:#eeeeee;
}
div.cpw-auth-manager-by-cert-step1 div.selected-cert div.Subject
{
	display:none;
}
div.cpw-auth-manager-by-cert-step1 div.au-title
{
	margin-top:10px;
}
div.cpw-auth-manager-by-cert-step1[data-client-cryptoapi="yes"] div.capicom-undefined
{
	display:none;
}
div.cpw-auth-manager-by-cert-step1[data-client-cryptoapi="yes"] div.capicom-defined
{
	display:block;
}
</style>
<% if (0) { %>
<style>
div.cpw-auth-manager-by-cert-step1
{
	width:400px;
}
div.cpw-auth-manager-by-cert-step1 .capicom-undefined
{
	display:inline;
}
div.cpw-auth-manager-by-cert-step1 .select2
{
	border:1px solid black;
}
div.cpw-auth-manager-by-cert-step1 .capicom-defined
{
	display:block;
}
</style>
<% } %>
<div class="cpw-auth-manager-by-cert-step1">

	<p>Укажите, как можно Вас аутентифицировать.</p>

	<div class="capicom-undefined">
		<p>
			Компоненты работы с сертификатами недоступны.
		</p>
		Предлагается два варианта действий в такой ситуации:
		<ol>
			<li>Сделать компоненты доступными 
				<a href="#null">по инструкции</a>
			</li>
			<li>Использовать другие имеющиеся у Вас криптографические компоненты.<br />
				<div class="attention">
					Выберите для этого Арбитражного управляющего в списке ниже и перейдите к следующему шагу.
				</div>
			</li>
		</ol>
	</div>

	<div class="capicom-defined">
		Сертификат электронной подписи:<br/>
		<div class="select2 certs-select2" <%= obj.select2_attrs('Сертификат') %> >
			тут должен быть select2 для выбора сертификата
		</div>
		<div class="selected-cert"></div>
	</div>

	<div class="au-title">Арбитражный управляющий:</div>
	<div class="select2 managers-select2" <%= obj.select2_attrs('АУ') %> >
		тут должен быть select2 для выбора АУ
	</div>
	<div class="selected-au"></div>

</div>