<div class="cpw-certificate-select2-result">
	<div class="Subject">
		<span class="title">на имя</span> 
		<div class="value"><%= obj.text %><% if (0) { %>Иванов Иван Иванович<% } %></div>
	</div>
	<div class="extra">
		<div>
			выдан УЦ 
			<div class="value"><%= obj.data.Issuer %><% if (0) { %>Первейший удостоверяющий<% } %></div>
		</div>
		<div>
			на период 
			<div class="value"><%= obj.data.ValidFromDate %><% if (0) { %>10.10.2019<% } %></div> 
			 — 
			<div class="value"><%= obj.data.ValidToDate %><% if (0) { %>03.06.2018<% } %></div> 
		</div>
		<div>
			сер. номер 
			<div class="value"><%= obj.data.SerialNumber %><% if (0) { %>3984579305083<% } %></div> 
		</div>
		<div>
			ИНН в сертификате: 
			<div class="value">
				<% if (obj.data.ИНН && null!=obj.data.ИНН) { %>
					<%= obj.data.ИНН %><% if (0) { %>865733322551<% } %>
				<% } else { %>
				<span class="attention">НЕ ЗАДАН!</span>
				<% } %>
			</div>
			<% if (obj.data.ИНН && null!=obj.data.ИНН) { %>
				<% if (true==obj.data.isManager) { %>
					 <span class="ok">(есть такой АУ)</span>
				<% } %>
				<% if (false==obj.data.isManager) { %>
					 <span class="attention">(НЕТ в реестре АУ)</span>
				<% } %>
			<% } %>
		</div>
	</div>
</div>