<div class="cpw-manager-select2-result">
	<div class="fio">
		<%= obj.lastName %><% if (0) { %>Иванов<% } %> 
		<%= obj.firstName %><% if (0) { %>Иван<% } %> 
		<%= obj.middleName %><% if (0) { %>Иванович<% } %> 
	</div>
	<div class="info">
		<span class="title">ИНН: </span> <span> <%= obj.inn %><% if (0) { %>905030347807<% } %></span>, 
<% if (obj.sro && null!=obj.sro) { %>
		<span class="title">СРО: </span> <span> <%= obj.sro %><% if (0) { %>Всесёлые АУ<% } %></span> 
<% } else { %>
		<span class="attention">Не состоит в СРО</span>
<% }%>
	</div>
</div>