<style>
div.cpw-manager-no-cert-for-manager
{
	color:green;
	margin-left:10px;
}
</style>
<div class="cpw-manager-no-cert-for-manager">
	<p>
		Сертификат ЭП для выбранного АУ недоступен.
	</p>
	Предлагается два варианта действий в такой ситуации:
	<ol>
		<li>Установить сертификат так чтобы он стал доступным.</li>
		<li>
			Использовать криптографические компоненты без предоставления браузеру доступа к сертификатам.<br />
			<div class="attention">
				Перейдите для этого к следующему шагу.
			</div>
		</li>
	</ol>
</div>