<style>
div.cpw-manager-no-certs-for-managers
{
	color:green;
	margin-left:10px;
}
</style>
<div class="cpw-manager-no-certs-for-managers">
	<p>
		Сертификаты ЭП для АУ недоступны.
	</p>
	Предлагается два варианта действий в такой ситуации:
	<ol>
		<li>Установить сертификаты и настроить доступ к ним.</li>
		<li>
			Использовать криптографические компоненты без 
			предоставления браузеру доступа к сертификатам.<br />
			<div class="attention">
				Выберите для этого Арбитражного управляющего в списке ниже и перейдите к следующему шагу.
			</div>
		</li>
	</ol>
</div>