<style>
div.cpw-sign-by-external-tools
{
	width:400px;
	margin:0 auto;
}
</style>
<%
var auth_info= obj.value();
if (!auth_info || null==auth_info)
	auth_info= {};
var signer= auth_info.АУ;
if (!signer || null==signer)
	signer= {};
%>
<div class="cpw-sign-by-external-tools">
	Для подписания выполните следующие действия:
	<ol>
		<li>
			Сохраните 
			<a target="_blank" href="">
				файл с подписываемым документом
			</a>
		</li>
		<li>
			Подпишите файл доступными вам средствами<br/>
			в формат отсоединённой электронной подписи<br/>
			на имя АУ 
			<b><%= signer.Фамилия %><% if (0) { %>Иванов<% } %> 
				<%= signer.Имя %><% if (0) { %>Иван<% } %> 
				<%= signer.Отчество %><% if (0) { %>Иванович<% } %> 
			</b>
			(ИНН:<b><%= signer.ИНН %><% if (0) { %>231431449083<% } %></b>)
		<li>
			Загрузите полученную подпись в виде файла:<br />
			<input type="file" />
		</li>
	</ol>
</div>