<style>
div.cpw-orpau-voting-question .form
{
	max-width: 600px;
	margin: 0 auto;
	box-sizing: border-box;
}
div.cpw-orpau-voting-question div.planed
{
	font-size: 14px;
	margin-bottom: 5px;
	color: gray;
}
div.cpw-orpau-voting-question div.planed div
{
	display: inline-block;
}
div.cpw-orpau-voting-question div.planed div.text
{
	margin-left: 5px;
	font-weight: 600;
}
div.cpw-orpau-voting-question div.asked div.text
{
	font-size: 21px;
	text-align: center;
	font-weight: 600;
}
div.cpw-orpau-voting-question button.next
{
	float: right;
}
div.cpw-orpau-voting-question div.signature-placer
{
	text-align: right;
}
div.cpw-orpau-voting-question div.signature
{
	margin: 3px;
	margin-top: 15px;
	color: #4c4da0;
	border: 1px solid #4c4da0;
	padding: 5px;
	border-radius: 10px;
	width: 85%;
	display: inline-block;
	text-align: center;
}
div.cpw-orpau-voting-question .signature-time
{
	display: inline-block;
	width: 155px;
}
div.cpw-orpau-voting-question span.invalid
{
	color: gray;
	font-size: 14px;
}
div.cpw-orpau-voting-question p.please {
	margin: 10px 0;
}
div.cpw-orpau-voting-question .late {
	color: #D3242C;
	font-weight: 500;
}
div.cpw-orpau-voting-question .invalid ul
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 1.5em;
}
div.cpw-orpau-voting-question label.container 
{
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	display: inline-block;
	vertical-align: middle;
	height: 14px;
	width: 14px;
}
div.cpw-orpau-voting-question label.container input
{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	z-index: -999;
}
div.cpw-orpau-voting-question .checkmark
{
	position: absolute;
	top: 0;
	left: 0;
	height: 14px;
	width: 14px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #A6A6A6;
	box-sizing: border-box;
}
div.cpw-orpau-voting-question label.container.disabled
{
	cursor: not-allowed;
}
div.cpw-orpau-voting-question label.container.disabled .checkmark
{
	background-color: #CFCFCF;
	border: 1px solid #CFCFCF;
}
div.cpw-orpau-voting-question label.container input:checked~.checkmark
{
	background-color: #D3242C;
}
div.cpw-orpau-voting-question .checkmark:after
{
	content: "";
	position: absolute;
	display: none;
}
div.cpw-orpau-voting-question label.container input:checked~.checkmark:after
{
	display: block;
}
div.cpw-orpau-voting-question label.container input:checked~.checkmark
{
	border-color: transparent;
}
div.cpw-orpau-voting-question label.container .checkmark:after
{
	top: 1px;
	left: 1px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid #fff;
	box-sizing: border-box;
	background: #D3242C;
}

div.cpw-orpau-voting-question .answer-wrapper {
	position: relative;
}
div.cpw-orpau-voting-question .answer-wrapper .overlay {
	display: none;
}
div.cpw-orpau-voting-question .answer-wrapper.answer-disabled .overlay {
	display: block;
	position: absolute;
	z-index: 11;
    background: lightgray;
    opacity: 0.5;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	cursor:not-allowed;
}
</style>
<%	
var v= obj.value();
var Подписано= v.VoteExtra && v.VoteExtra.Подписано ? v.VoteExtra.Подписано : '';
var Номер = "33";
var Состояние = v.Status;
%>
<div class="cpw-orpau-voting-question">

	<div class="form">
		<div class="planed">
			<div class="title">Вопрос повестки заседания </div> 
			<div class="text"> 
				<!-- № 
				<%= obj.txt_field('Номер') %><% if (0) { %>1<% } %>)  -->
				"<%= obj.txt_field('Title') %><% if (0) { %>О положении в Венесуэле<% } %>"
			</div>
		</div>

		<div class="asked">
			<div class="title">Вопрос на голосование:</div>
			<div class="text">
				<%= obj.txt_field('QuestionExtra.Формулировка') 
				%><% if (0) { %>Выразить глубокую озабоченность ситуацией в Венесуэле?<% } %>
			</div>
		</div>

		<div class="answer-wrapper <% if(Состояние != 'Голосование' && Состояние != 'Продолжено') {%> answer-disabled <%}%>">
			<div class="overlay"></div>
			<div class="answer">
				<% if (0) { %>Здесь должны быть предлагаемые варианты в соответствии с формой боанка<% } %>
			</div>
		</div>

		<% if (!Подписано) { %>
			<% if (Состояние == 'Голосование' || Состояние == 'Продолжено') {%>
				<p class="please">Отметьте выбранный Вами вариант голосования.</p>
			<%} else if (Состояние == 'Приостановлено') {%>
				<p class="please">Голосование приостановлено.</p>
			<%} else if (Состояние == 'Отменено') {%>
				<p class="please late">Голосование отменено.</p>
			<%} else if (Состояние == 'Завершено') {%>
				<p class="please">Голосование завершено.</p>
			<%} else {%>
				<p class="please late">Голосование завершилось <%= v.DateFinish%>.</p>
			<%}%>
		<%}%>

		<span class="invalid">
			Бюллетень, 
			<ul>
				<li>в котором не выбран ни один вариант, </li>
				<li>либо неподписанный бюллетень, </li>
			</ul>
			считается недействительными.
		</span>

		<% if (Подписано) { %>
			<div class="signature-placer">
				<div class="signature">
					<span>Бюллетень с ответом подписан и зарегистрирован в информационной системе:</span> 
					<b class="signature-time"><%= Подписано %><% if (0) { %>11.11.2011<% } %></b>
				</div>
			</div>
		<% } %>

	</div>

</div>