﻿<style>
div.cpw-form-orpau-admin-poll
{
	width:100%;
	margin:0 auto;
	height: 100%;
	position: relative;
	padding-bottom: 55px;
    box-sizing: border-box;
}
div.cpw-form-orpau-admin-poll div.row:not(:first-child)
{
	margin-top:5px;
}
div.cpw-form-orpau-admin-poll div.row.typed
{
	display:none;
}
div.cpw-form-orpau-admin-poll input
{
	width:130px;
}
div.cpw-form-orpau-admin-poll input.name
,div.select2
{
	width:350px;
}
div.cpw-form-orpau-admin-poll .finish-date > input {
	margin-right: 5px;
}
div.cpw-form-orpau-admin-poll div.row div.label1
{
	display:inline-block;
	width:120px;
	text-align:right;
	vertical-align:middle;
	padding-right:3px;
}
div.cpw-form-orpau-admin-poll div.row div.label2
{
	display:inline-block;
	vertical-align:middle;
	padding-right:3px;
	padding-left:3px;
}
div.cpw-form-orpau-admin-poll div.row div.select2
{
	display:inline-block;
}
div.cpw-form-orpau-admin-poll[data-type="сро"] div.row.typed.sro
,div.cpw-form-orpau-admin-poll[data-type="регион"] div.row.typed.region
,div.cpw-form-orpau-admin-poll[data-type="группа"] div.row.typed.group
{
	display:block
}
div.cpw-form-orpau-admin-poll div.hidden { display: none; }

div.cpw-form-orpau-admin-poll div.cpw-orpau-poll-questions-form div.questions {
	max-height: 240px;
	overflow: auto;
}

div.cpw-form-orpau-admin-poll div.button-footer {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	text-align: center;
	background: white;
	padding: 3px 0 0;
	height: 55px;
	box-sizing: border-box;
}
div.cpw-form-orpau-admin-poll div.button-footer > button.button {
	vertical-align: top;
}
div.cpw-form-orpau-admin-poll div.button-footer button.button {
	text-align: left;
	padding: 8px;
}
div.cpw-form-orpau-admin-poll div.button-footer button.button:not(:last-child) {
	margin-right: 5px;
}
div.cpw-form-orpau-admin-poll div.button-footer button span.button-icon {
	margin-right: 5px;
}
div.cpw-form-orpau-admin-poll div.button-footer button.button span {
	display: inline-block;
}
div.cpw-form-orpau-admin-poll.voting-first button.button span.other,
div.cpw-form-orpau-admin-poll			   button.button span.other,
div.cpw-form-orpau-admin-poll.voting-other button.button span.first { display: none;}
div.cpw-form-orpau-admin-poll.voting-other button.button span.other { display: inline-block;}
div.cpw-form-orpau-admin-poll div.cpw-orpau-poll-questions-form [data-fc-type="array-empty"] {
	padding: 10px;
    text-align: center;
}
.cpw-form-orpau-admin-poll-no-edit {
    color: #000;
    font-weight: 600;
    font-size: small;
	text-align: center;
    background: #FEF9D5;
    border: 1px solid #FFD940;
    padding: 3px;
}
</style>
<% if (0) { %>
<style>
div.cpw-form-orpau-admin-poll div.row.typed
{
	display:block;
}
</style>
<% } %>
<%
var poll= obj.value();
var disabled= ' disabled="disabled" ';
var d_start = '';
var d_pause = disabled;
var d_stop = disabled;
var root_class='voting-first';
if (poll && poll.Состояние)
{
	switch (poll.Состояние)
	{
		case 'Создано':
			d_start=''; break;
		case 'Голосование':
			d_start= disabled;
			d_pause= d_stop= '';
			break;
		case 'Продолжено':
			d_start= disabled;
			d_pause= d_stop= '';
			break;
		case 'Приостановлено':
			d_start= d_stop= '';
			root_class='voting-other';
			break;
		case 'Отменено':
			d_start= disabled; break;
		case 'Завершено':
			d_start= disabled; break;
	}
}
%>
<div class="cpw-form-orpau-admin-poll <%= root_class %>">
	<% if(poll && (poll.Состояние == "Голосование" || poll.Состояние == "Продолжено")) {%>
		<div class="cpw-form-orpau-admin-poll-no-edit">
			Нельзя редактировать параметры во время голосования, если нужно, приостановите его.
		</div>
	<%}%>

	<div class="row">
		<div class="label1">Голосование:</div>
		<input type="text" class="name" value="<%= obj.txt('Название') %>" />
	</div>

	<div class="row finish-date">
		<div class="label1">Завершение:</div>
		<input type="text" value="<%= obj.txt('Завершение.Дата') %>" <%= obj.date_attrs() %> />
		<input type="text" value="<%= obj.txt('Завершение.Время') %>" />
	</div>

	<div class="row">
		<div class="label1">Голосуют:</div>
		<select class="type" <%= obj.select_attrs('Голосуют') %> >
			<option <%= obj.option_attrs('все') %> >все АУ РФ</option>
			<option <%= obj.option_attrs('сро') %> >только АУ определённой СРО</option>
			<option <%= obj.option_attrs('регион') %> >только АУ определённого региона</option>
			<option <%= obj.option_attrs('группа') %> >только АУ определённой групы</option>
		</select>
	</div>

	<div class="row typed sro">
		<div class="label1">Из СРО:</div>
		<div class="select2" <%= obj.select2_attrs('Из.СРО') %> ><% if (0) { %>select2 для выбора СРО<% } %></div>
	</div>

	<div class="row typed region">
		<div class="label1">Из региона:</div>
		<div class="select2" <%= obj.select2_attrs('Из.региона') %> ><% if (0) { %>select2 для выбора региона<% } %></div>
	</div>

	<div class="row typed group">
		<div class="label1">Из группы:</div>
		<div class="select2" <%= obj.select2_attrs('Из.группы') %> ><% if (0) { %>select2 для выбора группы<% } %></div>
	</div>

	<div class="row">
		<% if (0) { %>Вопросы:<% } %>
		<%= obj.control('Вопросы') %>
	</div>

	<div class="button-footer">
		<button class="button start" <%= d_start %> >
			<span class="button-icon play-red-icon"></span>
			<span class="first">
				<span>Открыть голосование,</span><br>
				<small>и уведомить об этом участников</small>
			</span>
			<span class="other">
				<span>Возобновить голосование</span><br>
				<small>и уведомить об этом участников</small>
			</span>
		</button>
		<button class="button pause" <%= d_pause %> >
			<span class="button-icon pause-red-icon"></span>
			<span>
				<span>Приостановить голосование</span><br>
				<small>и уведомить об этом участников</small>
			</span>
		</button>
		<button class="button stop <%= d_stop %>" <%= d_stop %> >
			<span class="button-icon stop-red-icon"></span>
			<span>
				<span>Отменить заседание</span><br>
				<small>и уведомить об этом участников</small>
			</span>
		</button>
	</div>
</div>
