<div class="cpw-form-orpau-manager-debtors cpw-form-ama-datamart-grid">
	<div class="grid">
		<table id="cpw-orpau-manager-debtors-grid" class="grid"></table>
		<div id="cpw-orpau-manager-debtors-grid-pager"></div>
	</div>
</div>
