﻿<style>
/* Меняем стиль родителя */
div.cpw-ama-award-main {
	min-width: 780px;
	max-width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
div.cpw-dm-award-voted-ama {
	margin: 30px auto 0;
}
div.cpw-dm-award-voted-signed p
{
	margin: 0 0 10px;
}

div.cpw-dm-award-voted-ama div.button-panel button.to-voting {
	float: right;
}
</style>
<%
var d= obj.value();
if (!d || null==d)
	d= {};
var АУ= d.АУ;
if (!АУ || null==АУ)
	АУ= {};
%>
<div class="cpw-dm-award-voted-ama">
	<p>
		Уважаемый(-ая) 
		<%= АУ.Фамилия %><% if (0) { %>Глазырин<% } %> 
		<%= АУ.Имя %><% if (0) { %>Роман<% } %> 
		<%= АУ.Отчество %><% if (0) { %>Анатольевич<% } %>
	</p>

	<p>
		<%= d.Проголосовал_через_ПАУ %><% if (0) { %>01/01/2001 10:30<% } %> 
		Ваш голос уже был учтён голосованием через программу "Помощник Арбитражного Управляющего"
	</p>

	<p>Узнать о зарегистрированном голосе (или изменить его) вы можете также войдя в голосование через программу "Помощник Арбитражного Управляющего"</p>

	<p>Если же вы хотите проголосовать, оставив свою электронную подпись, изменить свой голос вы уже не сможете</p>

	<p class="font-14" style="margin-bottom: 15px; color: red">
		<b>Если вы не голосовали, позвоните по номеру +7 (499) 673-03-37</b>
	</p>

	<div class="button-panel">
		<button class="to-voting red">Перейти к голосованию электронной подписью</button>

		<button class="back">
			<span class="icon-back">←</span>
			<span>Вернуться к выбору голосующего</span>
		</button>
	</div>

</div>