﻿<style>
div.cpw-ama-poll-result-details-form
{
	background-color: white;
	width: 100%;
	margin: 0 auto;
	padding: 3px;
	box-sizing: border-box;
}
div.cpw-ama-poll-result-details-form table
{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 5px;
	border-collapse: collapse;
}
div.cpw-ama-poll-result-details-form table tr.variant td.text
,div.cpw-ama-poll-result-details-form table tr.variant td.total
{
	border-top: 1px solid #eeeeee;
}
div.cpw-ama-poll-result-details-form table tr.variant td.text
{
	border-left: 1px solid #eeeeee;
}
div.cpw-ama-poll-result-details-form table tr.variant td.pointer
{
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
div.cpw-ama-poll-result-details-form table tr.member td
{
	border: 1px solid #eeeeee;
}
div.cpw-ama-poll-result-details-form td.pointer
{
	width: 20px;
}
div.cpw-ama-poll-result-details-form table td.hi
{
	background-color: #eeeeee;
}
div.cpw-ama-poll-result-details-form table
{
	font-size: small;
}
div.cpw-ama-poll-result-details-form table span.answer
,div.cpw-ama-poll-result-details-form table td.pointer
,div.cpw-ama-poll-result-details-form table td.total.no-votes
{
	color: silver;
}
div.cpw-ama-poll-result-details-form table tr.variant.most-popular span.text
,div.cpw-ama-poll-result-details-form table tr.variant.most-popular td.total
{
	font-weight: bold;
}
</style>
<%
var v= obj.value();
var Вопрос= !v || null==v ? {} : v.Вопрос;
var Голоса= !v || null==v ? [] : v.Голоса;

var Начальные_варианты= !v || null==v ? [] : v.Вопрос.На_голосование.Варианты;
var Варианты= [];
var Варианты_по_тексту= {};
for (var i= 0; i < Начальные_варианты.length; i++)
{
	var текст= Начальные_варианты[i];
	var вариант= {текст:текст,номер:(i+1),стандартный:true,ivariant:i,Голосов:0};
	Варианты.push(вариант);
	if (!Варианты_по_тексту[текст])
		Варианты_по_тексту[текст]= вариант;
}

for (var i= 0; i < Голоса.length; i++)
{
	var текст= Голоса[i].Ответ;
	var вариант= !Варианты_по_тексту[текст] ? null : Варианты_по_тексту[текст];
	if (!вариант || null==вариант)
	{
		вариант= {текст:текст,номер:Варианты.length+1,стандартный:false,ivariant:Варианты.length,Голосов:0};
		Варианты.push(вариант);
		Варианты_по_тексту[текст]= вариант;
	}
	Голоса[i].ivariant= вариант.ivariant;
	вариант.Голосов++;
	Голоса[i].pos= вариант.Голосов;
}
var imost_popular_variant= null;
var max_голосов= 0;
for (var i= 0; i < Варианты.length; i++)
{
	var вариант= Варианты[i];
	if (вариант.Голосов > max_голосов)
	{
		imost_popular_variant= i;
		max_голосов= вариант.Голосов;
	}
}
%>
<div class="cpw-ama-poll-result-details-form">
	Результаты голосования по вопросу <%= Вопрос.Номер %><% if (0) { %>3<% } %> 
	"<%= Вопрос.На_голосование.Формулировка %><% if (0) { %>Выбрать подрядчика<% } %>":

	<br/>
	<table>

		<tr>
			<td colspan="<%= Варианты.length+1 %>">Вариант ответа</td>
			<td>Отдано голосов:</td>
		</tr>

		<%	for (var i= 0; i < Варианты.length; i++) 
			{
				var вариант= Варианты[i];
		%>
		<tr class="variant<%= i!=imost_popular_variant ? '' : ' most-popular'%>" data-ivariant="<%= i %>">
			<% if (i>0) { %>
			<td rowspan="<%= Варианты.length-i %>" class="pointer">&nbsp;</td>
			<% } %>
			<td colspan="<%= Варианты.length+1-i %>" class="text">
				<% if ("f1"!=Вопрос.На_голосование.Форма_бюллетеня) { %>
					<%= вариант.номер %><% if (0) { %>1<% } %>. 
				<% } %>
				<span class="text"><%= вариант.текст %><% if (0) { %>ООО "Спартак"<% } %></span>
			</td>
			<td class="total<%= вариант.Голосов ? '' : ' no-votes' %>"> 
				&ndash; 
				<%= вариант.Голосов %><% if (0) { %>6<% } %> 
				<%= obj.foreign_data(вариант.Голосов,'голос','голоса','голосов') %><% if (0) { %>голоса<% } %> 
				из <%= Голоса.length %><% if (0) { %>10<% } %> 
				(<%= Math.floor(!Голоса.length ? 0 : 100*вариант.Голосов/Голоса.length) %>%)
			</td>
		</tr>
		<%	} %>
		<tr>
			<td colspan="<%= Варианты.length+2 %>">Детали голосования отдельных участников:</td>
		</tr>
		<%	for (var i= 0; i < Голоса.length; i++) 
			{
				var Голос= Голоса[i];
		%>
		<tr class="member"  data-ivariant="<%= Голос.ivariant %>" data-imember="<%= i %>">
			<%	for (var j= 0; j < Варианты.length; j++) 
				{ %>
					<td class="pointer" data-ivariant="<%= j %>" >
						<% if (Голос.Ответ==Варианты[j].текст) { %>
							<% if ("f1"==Вопрос.На_голосование.Форма_бюллетеня) { %><%= Голос.Ответ %><% } else { %><%= Варианты[j].номер %><% } %>.<%= Голос.pos %>
						<% } %>
					</td>
			<%	} %>
			<td colspan="2" class="fio">
				<%= Голос.Участник %>
				<% if (0) { %>Дворжак Д Д<% } %> 
				<span class="answer">
					&ndash; 
					<% if ("f1"==Вопрос.На_голосование.Форма_бюллетеня) { %>
						<%= Голос.Ответ %><% if (0) { %>За<% } %>
					<% } else { %>
						за вариант «<%= Голос.Ответ %><% if (0) { %>Убиться об стену<% } %>»
					<% } %>
				</span>
			</td>
		</tr>
		<%	} %>

	</table>

</div>