﻿<style>
div.cpw-orpau-main
{
	margin: 0 auto;
}
div.cpw-orpau-main > header
{
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
	margin-bottom: 25px;
	padding: 10px;
	font-size: 30px;
	font-weight: 700;
}
div.cpw-orpau-main > header > div.header
{
	max-width: 1200px;
	padding: 0 20px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
div.cpw-orpau-main > header > div.header > div.title
{
	display: inline;
	vertical-align: top;
}
div.cpw-orpau-main > header > div.header > div.tools
{
	display: inline;
	margin-left: 70px;
}
div.cpw-orpau-main > header > div.header > div.tools button.login
{
	vertical-align: middle;
	margin-top: -10px;
}
div.cpw-orpau-main > header div.name-div
{
	text-align: center;
	font-size: medium;
	font-weight: 200;
}
div.cpw-orpau-main table.ui-pg-table
{
	min-width: 300px ;
	font-size: 12px;
}
div.cpw-orpau-main > div#cpw-orpau-main-tabs > ul > li.cabinet
{
	display: none;
}
div.cpw-orpau-main.manager > div#cpw-orpau-main-tabs > ul > li.cabinet
{
	display: block;
}
div.orpau-login-dialog { padding: 0 !important;}
div.orpau-login-wrap {
	white-space: nowrap;
	overflow-x: hidden;
}
div.orpau-login-ways,
form.orpau-login-form { 
	padding: 22px 16px;
	width: 385px;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
}
div.orpau-login-ways button.log-in { width: 100%; }
div.orpau-login-ways button.log-in:not(:last-child) {
	margin-bottom: 14px;
}
form.orpau-login-form {
	display: none;
	margin: 0;
}
form.orpau-login-form div.row { margin-bottom: 14px; }
form.orpau-login-form div.row > span.semi-bold{
	margin-bottom: 7px;
    display: inline-block;
}
form.orpau-login-form input { width: 100%; }
form.orpau-login-form span.back-button {
	color: #D3242C;
	text-decoration: underline;
	cursor: pointer;
}
form.orpau-login-form span.back-button:hover,
form.orpau-login-form .forgot-password:hover { opacity: 0.8; }
form.orpau-login-form .how-login-text {
	white-space: normal;
	font-size: 13px;
}
/*div.cpw-orpau-main .profile-bar { display: none; font-size: 16px; }
div.cpw-orpau-main .profile-dropdown
{
	font-weight: 600;
	cursor: pointer;
	position: relative;
	display: inline-block;
	font-size: 16px;
    vertical-align: middle;
}
div.cpw-orpau-main .profile-dropdown .jquery-menu
{
	right: -6px;
}
div.cpw-orpau-main .profile-dropdown .jquery-menu .arrow
{
	right: 2px;
}
div.cpw-orpau-main .triange-red-icon { margin-left: 5px; }
*/
div.cpw-orpau-main #cpw-orpau-main-tabs li.tab-right {
	float: right !important;
}
div.cpw-orpau-main #cpw-orpau-main-tabs li.профсоюз,
div.cpw-orpau-main #cpw-orpau-main-tabs li.асп {
	display: none;
}
div.cpw-orpau-main li.профсоюз button.вступить-в-профсоюз,
div.cpw-orpau-main li.асп button.использовать-асп {
	padding: 5px 7px;
    vertical-align: middle;
    margin: 3px 0 0;
}
form.orpau-login-form .forgot-password {
	color: #D3242C;
	cursor: pointer;
	font-size: small;
	margin-top: 3px;
}
</style>

<div class="cpw-orpau-main" >

	<header>
		<div class="header">
			<div class="title">
				Единая ИС Арбитражных управляющих
			</div>
			<div class="tools">
				<button class="login">Войти как АУ</button>
				<!--
				<span class="profile-bar">
					<div class="profile-dropdown">
						<span style="vertical-align: middle;" class="profile-name">
							Меню
						</span>
						<div class="triange-red-icon"></div>
						<ul class="jquery-menu">
							<li class="arrow"></li>
							<li class="open-profile">Профиль</li>
							<li class="logout">Выйти</li>
						</ul>
					</div>
				</span>
				-->
			</div>
		</div>
		<div class="name-div"></div>
	</header>

	<div id="cpw-orpau-main-tabs"  <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#main-tab-confirmations">Справки о полномочиях АУ</a></li>
			<li><a href="#main-tab-debtors">Должники</a></li>
			<li><a href="#main-tab-managers">Арбитражные управляющие</a></li>

			<li class='cabinet'><a href="#main-tab-cabinet">Кабинет АУ</a></li>

			<!--
			<li class="tab-right профсоюз"><button class="вступить-в-профсоюз">Профсоюз</button></li>
			<li class="tab-right асп"><button class="использовать-асп">Использовать АСП</button></li>
			-->
		</ul>
		<div id="main-tab-confirmations" style="display: block;">
			<% if (0) { %>Список справок<% } %>
			<%= obj.fields_control('Справки') %>
		</div>
		<div id="main-tab-debtors" style="display: block;">
			<% if (0) { %>Список должников<% } %>
			<%= obj.fields_control('Должники') %>
		</div>
		<div id="main-tab-managers" style="display: block;">
			<% if (0) { %>Список АУ<% } %>
			<%= obj.fields_control('АУ') %>
		</div>
		<div id="main-tab-cabinet" style="display:block;">
			<% if (0) { %>Кабинет АУ<% } %>
			<div class="cabinet"></div>
		</div>
	</div>

	<div class="orpau-login-dialog">
		<div class="orpau-login-wrap">
			<div class="orpau-login-ways">
				<button class="button-red log-in with-certificate">
					Вход по ЭЦП
				</button>
				<br>
				<button class="log-in with-password">
					Вход по логину<br/>
					<span style="font-size:x-small;color:gray;">(логин, email или номер телефона, в том числе от Клуба АУ)</span>
				</button>
			</div>

			<form action="ama/datamart/login" class="orpau-login-form">
				<span class="back-button">← Назад к выбору варианта авторизации</span>
				<br><br>
				<div class="row">
					<span class="semi-bold">E-mail, Логин или Номер телефона:</span><br>
					<input type="text" name="Login" value="<%= obj.txt('Login') %>" autofocus="autofocus" /><br>
					<span style="font-size:x-small;color:gray;">Номер телефона нужно вводит в формате: 7xxxxxxxxxx</span>
				</div>
		
				<div class="row">
					<span class="semi-bold">Пароль:</span><br>
					<div class="password-input-container">
						<input type="password" name="Password" value="<%= obj.txt('Password') %>" />
						<span class="icon-password-toggle" title="Показать пароль"></span>
					</div>
					<div class="forgot-password">Забыл пароль</div>
				</div>

				<div class="row how-login-text">
					Для входа необходимо разрешить в настройках аккаунта использование <b>логина</b> и <b>пароля</b> в качестве данных для авторизации.
				</div>

				<div class="buttons">
					<button class="login button button-red">Войти</button>
				</div>
			</form>
		</div>
	</div>

</div>