
<style>
div.cpw-form-orpau-voting-questions div.row {
	margin: 10px 0;
	padding: 5px 15px;
	display: flex;
	align-items: center;
}
div.cpw-form-orpau-voting-questions div.admin-poll-select2.select2-container {
	margin-left: 20px;
	display: inline-block;
	max-width: 575px;
}
div.cpw-form-orpau-voting-questions div.admin-poll-select2 .select2-search-choice-close {
	left: auto !important;
	right: 35px !important;
	top: 13px;
}
div.cpw-form-orpau-voting-questions div.admin-poll-select2 .select2-container.select2-allowclear .select2-choice span
{
	margin-left: 10px;
}
div.cpw-form-orpau-voting-questions .refresh-btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 14px;
	color:#D3242C;
	margin-left: auto;
}
div.cpw-form-orpau-voting-questions .refresh-btn:hover .refresh-btn__icon {
	transform: rotate(270deg) scale(-1,1);
}
div.cpw-form-orpau-voting-questions .refresh-btn__icon {
	fill: #D3242C;
	width: 30px;
	height: 30px;
	transform: rotate(90deg) scale(-1,1);
	margin-left: 5px;
	transition: transform .5s ease;
}
</style>
<div class="cpw-form-orpau-voting-questions">
	<center>Административная часть сайта РОСАУ</center>

	<div class="row">
		<span>Голосование:</span>
		<div class="select2 admin-poll-select2" <%= obj.select2_attrs('Голосования') %> >тут должен быть select2</div>

		<div class="refresh-btn">
			Обновить
			<svg class="refresh-btn__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				width="561px" height="561px" viewBox="0 0 561 561" xml:space="preserve">
				<path d="M280.5,76.5V0l-102,102l102,102v-76.5c84.15,0,153,68.85,153,153c0,25.5-7.65,51-17.85,71.4l38.25,38.25
				C471.75,357,484.5,321.3,484.5,280.5C484.5,168.3,392.7,76.5,280.5,76.5z M280.5,433.5c-84.15,0-153-68.85-153-153
				c0-25.5,7.65-51,17.85-71.4l-38.25-38.25C89.25,204,76.5,239.7,76.5,280.5c0,112.2,91.8,204,204,204V561l102-102l-102-102V433.5z" />
			</svg>
		</div>
	</div>

	<div class="grid">
		<table id="cpw-orpau-voting-questions-grid" class="grid"></table>
		<div id="cpw-orpau-voting-questions-grid-pager"></div>
	</div>
</div>
	