<style>
div.cpw-orpau-voting-signing
{
    max-width: 900px;
    margin: 0 auto;
}
div.cpw-orpau-voting-signing textarea
{
    width: 100%;
    min-width: 200px;
    height: 200px;
    border: 2px solid #009966;
    color: #000;
    padding: 3px 5px;
}
div.cpw-orpau-voting-signing span.border-note
{
    color: #009966;
    font-weight: 600;
}
div.cpw-orpau-voting-signing div.comments
{
    border-bottom: 1px solid black;
    width: 100%;
    font-size: small;
}
div.cpw-orpau-voting-signing div.keys
{
    border-bottom: 1px solid black;
    background-color: #eeeeee;
    padding-left: 10px;
    font-size: small;
}
div.cpw-orpau-voting-signing div.key-comments
{
    width: 100%;
    color: gray;
}
div.cpw-orpau-voting-signing table
{
    margin-top: 5px;
    width: 100%;
}
div.cpw-orpau-voting-signing table td
{
    vertical-align: central;
}
div.cpw-orpau-voting-signing table td.repeat
{
    text-align: right;
    padding-left: 50px;
    color: gray;
    width: 440px;
}
div.cpw-orpau-voting-signing table td.repeat span.seconds
{
    color: black;
    font-weight: bold;
}
div.cpw-orpau-voting-signing table td.title
{
    text-align: right;
}
div.cpw-orpau-voting-signing div.main
{
    margin-top: 15px;
    text-align: center;
}
div.cpw-orpau-voting-signing button.top
{
    float:right;
}
div.cpw-orpau-voting-signing div.no-sign
{
    display:inline-block;
    width:100%;
    font-size: large;
    text-align:center;
    margin-top: 50px;
    margin-bottom: 50px;
}
div.cpw-orpau-voting-signing div.key-comments span.time
{
    width: 130px;
    display: inline-block;
}
div.cpw-orpau-voting-signing span.test-code
{
    color: red;
}
div.cpw-orpau-voting-signing span.test-code span.code
{
    font-weight: bold;
}
div.cpw-orpau-voting-signing div.ahtung
{
    font-weight: 600;
    color: #00007b;
    text-align:center;
}

@media screen and (max-width: 480px) {
    div.cpw-orpau-voting-signing textarea {
        height: 300px;
    }
    div.cpw-orpau-voting-signing div.comments {
        font-size: smaller;
    }
    div.cpw-orpau-voting-signing table td.repeat
    {
        text-align: center;
        color: gray;
        width: auto;
        padding: 15px 0;
    }
    div.cpw-orpau-voting-signing table td.repeat .resend-after
    {
        text-align: left;
    }
}
</style>
<% if (0) { %>
<style>
div.cpw-orpau-voting-signing textarea
{
    height: 100px !important;
}
</style>
<% } %>
<%
var btn_sign_text= "Подписать бюллетень голосования";
var btn_sign_by_cert_text= "Подписать с помощью сертификата";

var isMobile = false;
if(obj.options)
{
    isMobile = obj.options.isMobile();
}
%>
<div class="cpw-orpau-voting-signing">
    
    <div class="ahtung">ВНИМАНИЕ! Голос будет учтён после Вашего подтверждения. Прочтите документ и нажмите кнопку внизу!</div>

    <div class="to-sign">
    Документ на подпись:<br/>
    <textarea readonly="readonly"></textarea>
    <div class="comments">
        * Документ подписывается аналогом собственноручной подписи АУ или сертификатом после нажатия кнопки <br/>
        &nbsp;&nbsp;&nbsp;&nbsp;«<%= btn_sign_text %><% if (0) { %>Подписать бюллетень голосования и отправить его лицу, проводившему заседание<% } %>» или «<%=btn_sign_by_cert_text%>».
        <br/>
        * Подписывая данный документ, Вы подтверждаете достоверность принятых решений по вопросам повестки дня, перечисленных в нем.
        <br/>
        * После подписания документа в него уже нельзя будет внести изменения.
        <br/>
        * Подписываемый документ состоит только из текста, обведённого на экране толстой <span class="border-note">зелёной рамкой</span>.
        <br/>
        * Прокрутите текст до конца для полного ознакомления с ним.
    </div>
    </div>

    <div class="send-key-first">
        Для подтверждения Вашей подписи, Вы должны получить код подтверждения или подписать с помощью сертификата.
        <div class="main">
            <button class="button button-red send-code">Выслать код подтверждения аналога собственноручной подписи АУ</button>
        </div>
        <% if(!isMobile) {%>
        <div class="main">
            <button class="button button-red choose-cert"><%=btn_sign_by_cert_text%><% if (0) { %>Подписать с помощью сертификата<% } %></button>
        </div>
        <%}%>
    </div>

    <div class="key-sent">

        <div class="keys">
            <div class="key-comments">
                <strong><span class="sms time"><% if (0) { %>12.12.2012 10:32<% } %></span></strong> 
                на телефон 
                <strong><span class="sms-number"><% if (0) { %>23874628674<% } %></span></strong> 
                выслано СМС с кодом подтверждения подписи.
            </div>

            <div class="key-comments">
                <strong><span class="email time"><% if (0) { %>12.12.2012 10:32<% } %></span></strong> 
                на email 
                <strong><span class="email-address"><% if (0) { %>r@r.r<% } %></span></strong> 
                выслано уведомление с подписываемым документом.
            </div>
        </div>

        Для подтверждения Вашей подписи, 
        Вы должны получить код подтверждения и ввести его в поле ниже.<br/>

        <span class="test-code">
            В тестовом режиме сообщаем вам, что выслан код 
            <span class="code"><% if (0) { %>1234<% } %></span>.
        </span>

        <% if(isMobile) {%>
        <table>
            <tr>
                <td class="title">Получен&nbsp;код&nbsp;подтверждения:&nbsp;</td>
                <td class="field"><input type="text" class="code"/></td>
            </tr>
            <tr>
                <td class="repeat" colspan="2">
                    <div class="resend-after">
                        Повторная отправка нового кода подтверждения<br/>
                        возможна через <span class="seconds">60</span> сек.
                    </div>
                    <button class="button resend-code">Выслать новый код подтверждения (повторно)</button>
                </td>
            </tr>
        </table>
        <%} else {%>
        <table>
            <tr>
                <td class="title">Получен&nbsp;код&nbsp;подтверждения:&nbsp;</td>
                <td class="field"><input type="text" class="code"/></td>
                <td class="repeat">
                    <span class="resend-after">
                        Повторная отправка нового кода подтверждения<br>
                        возможна через <span class="seconds">60</span> сек.
                    </span>
                    <button class="button resend-code">Выслать новый код подтверждения (повторно)</button>
                </td>
            </tr>
        </table>
        <%}%>

        <div class="main">
            <button class="button button-red sign"><%= btn_sign_text %><% if (0) { %>Подписать бюллетень голосования<% } %></button>
        </div>
    </div>

    <div class="no-sign">
        <p>Ответы на все вопросы в рамках данного кабинета уже даны,<br/> подписаны и отправлены лицу, проводящему заседание.</p>
        <p>Подписывать больше нечего!</p>
    </div>

</div>