﻿<style>
div#cpw-form-orpau-admin-manager-vote-tab-questions .ui-jqgrid .ui-jqgrid-bdiv
,div#cpw-form-orpau-admin-manager-vote-tab-docs .ui-jqgrid .ui-jqgrid-bdiv
,div#cpw-form-orpau-admin-manager-vote-tab-logs .ui-jqgrid .ui-jqgrid-bdiv
{
	min-height: 370px;
}
</style>
<div id="cpw-form-orpau-admin-manager-vote-tabs" <%= obj.tabs_attrs() %> >
	<ul>
		<li><a href="#cpw-form-orpau-admin-manager-vote-tab-questions" >Вопросы</a></li>
		<li><a href="#cpw-form-orpau-admin-manager-vote-tab-docs">Документы</a></li>
		<li><a href="#cpw-form-orpau-admin-manager-vote-tab-logs">Журнал действий</a></li>
	</ul>
	<div id="cpw-form-orpau-admin-manager-vote-tab-questions"><% if (0) { %>Вопросы на голосование<% } %><%= obj.fields_control('Вопросы') %></div>
	<div id="cpw-form-orpau-admin-manager-vote-tab-docs"><% if (0) { %>Документы<% } %><%= obj.fields_control('Документы') %></div>
	<div id="cpw-form-orpau-admin-manager-vote-tab-logs"><% if (0) { %>Журнал действий<% } %><%= obj.fields_control('Журнал') %></div>
</div>
