<style>
	div.cpw-award-vote-exist div.footer {
		border-top: 1px solid #dfdfdf;
		background: #fff;
		min-width: 780px;
		max-width: 1000px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		padding: 10px 10px 15px;
		box-sizing: border-box;
	}

	div.cpw-award-vote-exist div.footer div input.email {
		margin-top: 5px;
		width: 350px;
		border-width: 2px;
	}

	div.cpw-award-vote-exist div.footer p.font-14 {
		margin: 10px 0;
	}

	div.cpw-award-vote-exist div.footer button.to-signing {
		float: right;
	}
</style>
<% var model = obj.value();%>
<div class="cpw-award-vote-exist">
	<p>Уважаемый(-ая) <%= model.manager.Фамилия%> <%= model.manager.Имя%> <%= model.manager.Отчество%>,</p>
	<p>
		<span>Ваш голос уже был учтён голосованием при помощи электронной подписи</span>
		<span style="color:gray"></span>
	</p>
	<p>Бюллетень голосования с вашей подписью был отправлен на адрес электронной почты, указанной вами при голосовании
	</p>
	<p class="font-14" style="margin-bottom: 15px; color: red">
		<b>Если вы не голосовали, позвоните по номеру +7 (499) 673-03-37</b>
	</p>
	<div class="footer">
		<button class="back-to-polls">Назад к голосованиям</button>
	</div>
</div>