<style>
div.cpw-orpau-auth-token-show-to-sign
{
    width:535px;
    margin:0 auto;
}
div.cpw-orpau-auth-token-show-to-sign input
{
    vertical-align:text-top;
    margin-right:5px;
    margin-left:5px;
}
div.cpw-orpau-auth-token-show-to-sign pre
{
    border: 2px solid green;
    padding:5px;
    color:green;
    overflow-y:scroll;
    width:500px;
    padding-left:25px;
    height:400px;
    padding-top:15px;
    margin: 5px 0;
}
div.cpw-orpau-auth-token-show-to-sign .pre-color
{
    color:green;
}
div.cpw-orpau-auth-token-show-to-sign label
{
    display:block;
    margin-top:5px;
}
div.cpw-orpau-auth-token-show-to-sign button.download-token { margin-right: 15px;}
input#upload-sign-input {
    display: none;
}
.capicom-zone {
    margin: 5px 0;
}
</style>
<%
var o= obj.value();
if (!o || null==o)
    o= {};
%>
<div class="cpw-orpau-auth-token-show-to-sign">
    <span>
        Необходимо подписать запрос на доступ электронной подписью АУ.
    </span>
    <br />
    <label>
        <input type="checkbox" <% if (o.with_datamart) { %>checked="checked"<% } %> />
        <span>Разрешить отображение информации из ИС "Витрина данных ПАУ"</span>
    </label>
    <pre><%= o.with_datamart ? o.with_datamart : o.without_datamart %><% if (0) { %>
1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 0 1 2 3 4 5 6 7 8 9 0 0 1 2 3 4 5 6 7 8 9 0 0 1 2 3 4 5 6 7 8 9 0
1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 0 1 2 3 4 5 6 7 8 9 0 0 1 2 3 4 5 6 7 8 9 0 0 1 2 3 4 5 6 7 8 9 0
1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 0 1 2 3 4 5 6 7 8 9 0 0 1 2 3 4 5 6 7 8 9 0 0 1 2 3 4 5 6 7 8 9 0
    <% } %></pre>
    <span>Подписываемый текст обведён рамкой и показан буквами</span> 
    <span class="pre-color">зелёного цвета</span>.

    <div class="capicom-zone">
        <span>Запрос на доступ к информации можно подписать через браузер Internet Explorer компонентом capicom.dll</span>
        <br/>
        <button class="sign-by-cert">Подписать запрос на доступ через capicom и войти</button>
    </div>

    <span>или можно скачать Запрос для подписания через сторонние сервисы и загрузить подписанный документ для входа в систему</span>
    <br/>
    <button class="download-token">Скачать запрос</button>
    <button class="upload-sign">Загрузить подписанный запрос и войти</button>
    <input type="file" name="" id="upload-sign-input">
</div>
