<style>
div.cpw-orpau-manager-cabinet button
{
	margin-left:5px;
}
div.cpw-orpau-manager-cabinet #cpw-orpau-manager-cabinet-tabs > ul > li.tab-right button
{
	padding: 5px 7px;
	vertical-align: middle;
	margin: 3px 0 0;
}
div.cpw-orpau-manager-cabinet #cpw-orpau-manager-cabinet-tabs > ul > li.tab-right
{
	float: right !important;
}
div.cpw-orpau-manager-cabinet.СостоитВПрофсоюзе #cpw-orpau-manager-cabinet-tabs > ul > li.tab-right button.вступить-в-профсоюз
,div.cpw-orpau-manager-cabinet.ИспользуетАСП #cpw-orpau-manager-cabinet-tabs > ul > li.tab-right button.использовать-асп
,div.cpw-orpau-manager-cabinet.СостоитВПрофсоюзе #cpw-orpau-manager-cabinet-tabs > ul > li.tab-right li.вступить-в-профсоюз
,div.cpw-orpau-manager-cabinet.ИспользуетАСП #cpw-orpau-manager-cabinet-tabs > ul > li.tab-right li.использовать-асп
{
	display: none;
}
div.cpw-orpau-manager-cabinet .profile-bar { font-size: 16px; }
div.cpw-orpau-manager-cabinet .profile-dropdown
{
	font-weight: 600;
	cursor: pointer;
	position: relative;
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
}
div.cpw-orpau-manager-cabinet .profile-dropdown .jquery-menu li
{
	float:none;
	border-bottom-style:solid;
	border-bottom-color:rgb(223,223,223);
	border-bottom-width:1px;
}
div.cpw-orpau-manager-cabinet .profile-dropdown .jquery-menu li:hover
{
	background-color:rgb(245,245,245);
}
div.cpw-orpau-manager-cabinet .profile-dropdown .jquery-menu
{
	right: -6px;
}
div.cpw-orpau-manager-cabinet .profile-dropdown .jquery-menu .arrow
{
	right: 2px;
}
div.cpw-orpau-manager-cabinet .triange-red-icon { margin-left: 5px; }
</style>
<%
var o= obj.value();
if (!o || null==o)
	o= {};
var variant= !o.login_details ? null : o.login_details.variant;
%>
<div class="cpw-orpau-manager-cabinet <%= 
	true!=o.СостоитВПрофсоюзе ? '' : 'СостоитВПрофсоюзе' 
	%> <%= 
	true!=o.ИспользуетАСП ? '' : 'ИспользуетАСП' 
	%>">

	<div id="cpw-orpau-manager-cabinet-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<% if ('with_datamart'==variant) { %>
			<li><a href="#manager-tab-schedule">Календарь</a></li>
			<li><a href="#manager-tab-news">Новости</a></li>
			<% } %>
			<li><a href="#manager-tab-procedures" >Процедуры</a></li>
			<% if ('with_datamart'==variant) { %>
			<li><a href="#manager-tab-datamart">Витрина данных</a></li>
			<% } %>
			<li><a href="#manager-tab-confirmations" >Справки</a></li>
			<li><a href="#manager-tab-voting">Голосование</a></li>

			<li class="tab-right" style="padding-top:7px;">
				<span class="profile-bar">
					<div class="profile-dropdown">
						<span style="vertical-align: middle;" class="profile-name">
							АУ 
							<%= o.Фамилия %><% if (0) { %>Фролов<% } %> 
							<%= (!o.Имя || null==o.Имя || !o.Имя.length) ? '' : (o.Имя.charAt(0) + '.') %><% if (0) { %>Ф<% } %> 
							<%= (!o.Отчество || null==o.Отчество || !o.Отчество.length) ? '' : (o.Отчество.charAt(0) + '.') %><% if (0) { %>Ф<% } %> 
						</span>
						<div class="triange-red-icon"></div>
						<ul class="jquery-menu">
							<li class="arrow"></li>
							<li class="menu использовать-асп">Соглашение об АСП (голосовать без сертификата)</li>
							<li class="menu вступить-в-профсоюз">Вступить в профсоюз</li>
							<li class="menu open-profile">Профиль</li>
							<li class="menu logout">Выйти</li>
						</ul>
					</div>
				</span>
			</li>
			<li class="tab-right"><button class="вступить-в-профсоюз">В профсоюз</button></li>
			<!--
			<li class="tab-right"><button class="использовать-асп">Использовать АСП</button></li>
			-->
		</ul>
		<% if ('with_datamart'==variant) { %>
		<div id="manager-tab-schedule" class="page"><% if (0) { %>Календарь<% } %><%= obj.fields_control('Календарь') %></div>
		<div id="manager-tab-news" class="page"><% if (0) { %>Новости<% } %><%= obj.fields_control('Новости') %></div>
		<% } %>
		<div id="manager-tab-procedures" class="page"><% if (0) { %>Список процедур<% } %><%= obj.fields_control('Процедуры') %></div>
		<% if ('with_datamart'==variant) { %>
		<div id="manager-tab-datamart" class="page"><% if (0) { %>Витрина данных<% } %><%= obj.fields_control('Витрина') %></div>
		<% } %>
		<div id="manager-tab-confirmations" class="page"><% if (0) { %>Список справок<% } %><%= obj.fields_control('Справки') %></div>
		<div id="manager-tab-voting" class="page"><% if (0) { %>Голосование<% } %><%= obj.fields_control('Голосование') %></div>
	</div>

</div>