<style>
div.cpw-ama-award-manager {
	margin: 30px auto 0;
}
div.cpw-ama-award-manager p {
	margin: 15px 0;
}
div.cpw-ama-award-manager div.am-card {
	border: 1px solid #DFDFDF;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	padding: 5px 30px 5px 10px;
	position: relative;
	cursor: pointer;
	max-width: 50%;
    min-width: 300px;
}
div.cpw-ama-award-manager div.am-card:hover {
	background: #eaeaea;
}
div.cpw-ama-award-manager div.am-card:active {
	box-shadow: none;
	opacity: 0.95;
	box-shadow: inset 0 0px 4px rgba(0,0,0,0.1);
}
div.cpw-ama-award-manager div.am-card a {
	text-decoration: none;
}
div.cpw-ama-award-manager div.am-card .am-info {
	display: inline-block;
}
div.cpw-ama-award-manager div.am-card i.next {
	display: inline-block;
    width: 6px;
    height: 6px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	margin: auto 0;
    transform: rotate(45deg);
    border-top: 2px solid #469BDD;
    border-right: 2px solid #469BDD;
}
div.cpw-ama-award-manager div.voting
{
	display: none;
}
div.cpw-ama-award-manager div.voting div.placer div.cpw-ama-award-voting div.candidates {
	height: calc(100vh - 325px);
	max-height: calc(100vh - 325px) !important;
}
div.cpw-ama-award-manager div.voting div.button-panel {
	padding: 15px 0 5px;
}
div.cpw-ama-award-manager div.voting div.button-panel button.vote {
	float:right;
}
</style>
<% if (0) { %>
<style>
div.cpw-ama-award-manager div.voting
{
	display: block;
}
</style>
<% } %>
<%
var d= obj.value();
if (!d || null==d)
	d= {};
%>
<div class="cpw-ama-award-manager">
	<div class="main">
		<p style="margin: 10px 0">
			<span>
				<%= d.Фамилия %> 
				<% if (0) { %>Тестов<% } %> 

				<%= d.Имя %> 
				<% if (0) { %>Тест<% } %> 

				<%= d.Отчество %> 
				<% if (0) { %>Тестович<% } %>
			</span> 
			<span class="gray-text">
				(ИНН:
				<%= d.ИНН %>
				<% if (0) { %>YYYY<% } %>
				)
			</span>, 

			вы отдали свой голос за участника:
		</p>
		<div class="am-card">
			<%= obj.options.h_award.ЗаКогоПроголосовал(d) %>
			<% if (0) { %>Глазырин Роман Анатольевич<% } %>
		</div>
		<p>
			Отдать свой голос другому кандидату можно до <b>00:00 20.10.2019</b>
		</p>
		<p style="color: red;" class="font-14">
			<b>Предыдущий голос будет аннулирован.</b>
		</p>
	</div>

	<div class="voting">
		<div class="placer"></div>
		<div class="button-panel">
			<button class="vote red">Голосовать</button>
			<button class="back">
				<span class="icon-back">←</span>
				<span>Вернуться</span>
			</button>
		</div>
	</div>
</div>