﻿<style>
div.cpw-form-orpau-admin-manager .cpw-orpau-admin-poll-filter
{
	margin: 0;
}
div.cpw-form-orpau-admin-manager .cpw-orpau-admin-poll-filter .select2-container
{
	display: inline-block;
	max-width: 620px;
	width: 620px;
	text-align: left;
}
div.cpw-form-orpau-admin-manager .cpw-form-orpau-admin-manager .admin-groups-select2 .select2-search-choice-close
{
	left: unset !important;
	right: 35px !important;
	top: 13px;
}
div.cpw-form-orpau-admin-manager div.label
{
	display: inline-block;
	color: gray;
	margin-right: 5px;
}
div.cpw-form-orpau-admin-manager div.value
{
	display: inline-block;
	margin-right: 10px;
}
div.cpw-form-orpau-admin-manager div.label.second
{
	margin-left: 31px;
}
div.cpw-form-orpau-admin-manager div.cpw-orpau-manager-info,
div.cpw-form-orpau-admin-manager div.cpw-orpau-admin-poll-filter
{
	display: inline-block;
	vertical-align: middle;
}
div.cpw-form-orpau-admin-manager div.label.first
{
	width:200px;
	text-align:right;
}
div.cpw-form-orpau-admin-manager
{
	width:850px;
	margin:auto 0;
}
div.cpw-form-orpau-admin-manager div.row
{
	margin-top:5px;
	margin-bottom:5px;
}
div.cpw-form-orpau-admin-manager div.asp-text
,div.cpw-form-orpau-admin-manager div.md5-comments
{
	display:none !important;
}
</style>
<%
var o= obj.value();
if (!o || null==o)
	o= {};
%>
<div class="cpw-form-orpau-admin-manager">
	<div class="cpw-orpau-manager-info">
		<div class="row">
			<div class="label first">Арбитражный управляющий:</div>
			<div class="value"><%= o.LastName %><% if (0) { %>Сидоров<% } %></div>
			<div class="value"><%= o.FirstName %><% if (0) { %>Сидор<% } %></div>
			<div class="value"><%= o.MiddleName %><% if (0) { %>Сидорович<% } %></div>
			<div class="label">(</div>
			<% if (o.INN) { %>
			<div class="label">ИНН:</div>
			<div class="value"><%= o.INN %><% if (0) { %>295576085607<% } %></div>
			<% } %>
			<div class="label">СРО:</div>
			<div class="value">
				<% if (!o.SRORegNum || null==o.SRORegNum) { %>
					<span style="color:red">Не состоит в СРО</span>
				<% } else { %>
					<%= o.SROName %><% if (0) { %>СРО АУ и люди<% } %>
				<% } %>
			</div>
			<div class="label">)</div>
		</div>
	</div>

	<div class="cpw-orpau-admin-poll-filter">
		<div class="row">
			<div class="label first">Голосование:</div>
			<div class="select2 admin-groups-select2" <%= obj.select2_attrs('Голосования') %> >тут должен быть select2</div>
		</div>
	</div>

	<div class="cpw-orpau-poll-content">
		Тут должны быть вопросы голосования<br/>
		<span>Голосование не выбрано, вопросов нет</span>
	</div>
</div>
