﻿<style>

</style>
<div class="cpw-orpau-admin-main">
	<center>Административная часть сайта ОРПАУ</center>

	<div class="grid">
		<table id="cpw-orpau-admin-manager-grid" class="grid"></table>
		<div id="cpw-orpau-admin-manager-grid-pager"></div>
	</div>
</div>