<style>
	div.am-info{
		display: inline-block;
	}

	label.container{
		margin: 5px;
	}

	div.cpw-award-poll {
		margin: 15px auto 0;
	}

	

	div.cpw-award-poll div.welcome p {
		margin: 0;
	}

	div.cpw-award-poll div.candidates {
		border-top: 1px solid #dfdfdf;
		overflow: auto;
		max-height: calc(100vh - 401px);
		/* 401px размеры header+footer*/
	}

	div.cpw-award-poll ul {
		list-style: none;
		padding: 0;
		margin: 5px 0;
	}

	div.cpw-award-poll ul li {
		cursor:pointer;
		border: 1px solid #DFDFDF;
		border-radius: 3px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		margin: 5px;
		padding: 0 0 0 10px;
		position: relative;
	}

	div.cpw-award-poll ul li:hover {
		background: #eaeaea;
	}

	div.cpw-award-poll ul li:active {
		box-shadow: none;
		opacity: 0.95;
		box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.1);
	}

	div.cpw-award-poll ul li.selected-candidate {
		box-shadow: none;
	}

	div.cpw-award-poll ul li>div {
		display: inline-block;
		vertical-align: middle;
		padding: 5px 10px;
	}

	div.cpw-award-poll li div.am-info>p {
		margin: 0;
		line-height: 1.25em;
	}

	div.cpw-award-poll li p.nominee {
		font-size: 18px;
	}

	/* Radiobutton */
	div.cpw-award-poll ul li label.container {
		position: relative;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		display: inline-block;
		vertical-align: middle;
		height: 16px;
		width: 16px;
		padding: 10px;
	}

	div.cpw-award-poll ul li label.container input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		z-index: -999;
	}

	div.cpw-award-poll ul li label span.checkmark {
		position: absolute;
		/* top: 0;
		left: 0; */
		height: 14px;
		width: 14px;
		background-color: #fff;
		border-radius: 50%;
		border: 1px solid #A6A6A6;
	}

	div.cpw-award-poll ul li label span.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	div.cpw-award-poll ul li label.container input:checked~span.checkmark:after {
		display: block;
	}

	div.cpw-award-poll ul li label.container input:checked~span.checkmark {
		background: #D3242C;
		border-color: transparent;
	}

	div.cpw-award-poll ul li label.container span.checkmark:after {
		top: 1px;
		left: 1px;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		border: 2px solid #fff;
		box-sizing: border-box;
		background: #D3242C;
	}

	/* info icon*/
	div.cpw-award-poll ul li i.info {
		width: 18px;
		height: 18px;
		display: inline-block;
		border-radius: 50%;
		border: 2px solid #469BDD;
		font-style: normal;
		font-family: cpw;
		font-size: 15px;
		font-weight: bold;
		color: #469BDD;
		line-height: 1em;
		box-sizing: border-box;
		padding: 0 1px 1px 5px;
		vertical-align: middle;
		cursor: pointer;

		position: absolute;
		right: 20px;
		margin: auto 0;
		top: 0;
		bottom: 0;
	}

	div.cpw-award-poll div.footer {
		border-top: 1px solid #dfdfdf;
		background: #fff;
		min-width: 780px;
		max-width: 1000px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		padding: 10px 10px 15px;
		box-sizing: border-box;
	}

	div.cpw-award-poll div.footer div input.email {
		margin-top: 5px;
		width: 350px;
		border-width: 2px;
	}

	div.cpw-award-poll div.footer p.font-14 {
		margin: 10px 0;
	}

	div.cpw-award-poll div.footer button.to-signing {
		float: right;
	}
</style>

<%
	var d= obj.value();
	if (!d || null==d)
		d= {};
	var Голосующий= d.Голосующий;
	if (!Голосующий || null==Голосующий)
		Голосующий= {};
%>
<div class="cpw-award-poll">
	<p style="font-size: 22px; font-weight: bold;margin: 10px 0 5px;">Номинанты</p>
	<p>Выберите номинанта за которого вы хотите отдать свой голос:</p>
	<% var Nominees = d.poll.ExtraColumns; %>
	<ul>
		<% for( var i = 0; i < Nominees.length; i++) { %>
		<li class="nominee">
			<label class="container">
				<input type="radio" value="<%=Nominees[i].id_Nominee%>" name="Nominee" class="nominee-input">
				<span class="checkmark"></span>
			</label>
			<div class="am-info">
				<p class="">
					<span><%= Nominees[i].Name%></span>
				</p>
			</div>
		</li>
		<% }%>
	</ul>
	<div class="footer">
		<div class="font-14">
			Укажите адрес электронной почты, на который вы хотите получить подписанный вами бюллетень:<br />
			<input type="text" class="email">
		</div>
		<p class="font-14"><b>Если вы не голосовали, позвоните по номеру +7 (499) 673-03-37</b></p>
	
		<div class="button-panel">
			<button class="back-to-polls">Назад к выбору номинации</button>
			<button class="to-signing red">Перейти к подписанию бюллетеня</button>
		</div>
	</div>
</div>
<div class="placer">
</div>