﻿<style>
div.cpw-dm-award-signing
{
	margin: 30px auto 0;
}
div.cpw-dm-award-signing div.confirm {
	width: 100%;
	margin-bottom: 15px;
}
div.cpw-dm-award-signing textarea
{
	/* max-width: 900px; */
	width: 100%;
	height:200px;
	border: 2px solid #009966;
	border-radius: 3px;
	color: #000;
	padding: 3px 5px;
	outline: none;
}
div.cpw-dm-award-signing button.sign {
	float: right;
}
div.cpw-dm-award-signing div.button-panel {
	margin-bottom: 15px;
}
div.capicom-info {
	background-color: #f1f1f1;
	border: 1px solid #bbbbbb;
	border-radius: 3px;
	padding: 5px 10px;
	margin: 20px 0;
	font-size: 14px;
}
</style>
<%
var d= obj.value();
if (!d || null==d)
	d= {};
var АУ= d.АУ;
if (!АУ || null==АУ)
	АУ= {};
%>
<div class="cpw-dm-award-signing">
	<p style="margin: 10px 0;">
		Уважаемый(-ая) 
		<%= АУ.Фамилия %><% if (0) { %>Глазырин<% } %> 
		<%= АУ.Имя %><% if (0) { %>Роман<% } %> 
		<%= АУ.Отчество %><% if (0) { %>Анатольевич<% } %>
		<br/>
		Подпишите пожалуйста бюллетень голосования:<br/>
	</p>

	<div class="confirm">
		<textarea readonly="readonly"><%= d.На_подписание %></textarea>
	</div>


	<p>
		Подписанный бюллетень мы вышлем вам по адресу 
		<b><%= АУ.email %><% if (0) { %>ффф@ggg.hhh<% } %></b>
	</p>

	<div class="button-panel">
		<button class="sign red">Подписать бюллетень электронной подписью</button>
		
		<button class="back">
			<span class="icon-back">←</span>
			Вернуться к голосованию
		</button>			
	</div>

	<div class="capicom-info">
		Для корректной работы с ЭП необходимо добавить сайт в доверенные. Для этого:
		<ul>
			<li>
				откройте Internet Explorer, нажмите кнопку <b>Сервис</b>, а затем выберите пункт <b>Свойства браузера</b>,
			</li>
			<li>
				перейдите на вкладку <b>Безопасность</b>, выберите значок зоны безопасности <b>Надежные сайты</b>, а затем нажмите кнопку <b>Сайты</b>,
			</li>
			<li>
				укажите адрес сайта и нажмите кнопку <b>Добавить</b>.
			</li>
		</ul>
		Также необходимо установить данное расширение <a href="https://download.microsoft.com/download/1/7/1/17115a2c-8493-4947-bb7d-d7b58457acf7/CAPICOM-KB931906-v2102.exe" target="_blank">CAPICOM-KB931906-v2102.exe</a>
	</div>

	<p class="font-14">
		<b>Если что-то учтено неверно, позвоните по номеру +7 (499) 673-03-37</b>
	</p>
</div>