<style>
div.cpw-orpau-manager-voting .tab-right {
	float: right !important;
}

div.cpw-orpau-manager-voting .refresh-btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 14px;
	color:#D3242C;
}
div.cpw-orpau-manager-voting .refresh-btn:hover .refresh-btn__icon {
	transform: rotate(270deg) scale(-1,1);
}
div.cpw-orpau-manager-voting .refresh-btn__icon {
	fill: #D3242C;
	width: 30px;
	height: 30px;
	transform: rotate(90deg) scale(-1,1);
	margin-left: 5px;
	transition: transform .5s ease;
}
div.cpw-orpau-manager-voting > div.asp-text
{
	font-size: smaller;
	text-align:center;
	color:gray;
}
</style>
<%
var isMobile = false;
if(obj.options)
{
	isMobile = obj.options.isMobile();
}
%>
<div class="cpw-orpau-manager-voting">

	<div id="cpw-orpau-manager-voting-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#voting-tab-questions"><% if(isMobile) {%>Вопросы<%} else {%>Вопросы на голосование<%}%></a></li>
			<li><a href="#voting-tab-documents">Документы</a></li>
			<li><a href="#voting-tab-log"><% if(isMobile) {%>Журнал<%} else {%>Журнал действий<%}%></a></li>
			<li class="tab-right">
				<div class="refresh-btn">
					<% if(!isMobile) {%><span>Обновить</span><%}%>
					<svg class="refresh-btn__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						width="561px" height="561px" viewBox="0 0 561 561" xml:space="preserve">
						<path d="M280.5,76.5V0l-102,102l102,102v-76.5c84.15,0,153,68.85,153,153c0,25.5-7.65,51-17.85,71.4l38.25,38.25
						C471.75,357,484.5,321.3,484.5,280.5C484.5,168.3,392.7,76.5,280.5,76.5z M280.5,433.5c-84.15,0-153-68.85-153-153
						c0-25.5,7.65-51,17.85-71.4l-38.25-38.25C89.25,204,76.5,239.7,76.5,280.5c0,112.2,91.8,204,204,204V561l102-102l-102-102V433.5z" />
					</svg>
				</div>
			</li>
		</ul>
		<div id="voting-tab-questions"><% if (0) { %>Вопросы на голосование<% } %><%= obj.fields_control('Вопросы') %></div>
		<div id="voting-tab-documents"><% if (0) { %>Документы<% } %><%= obj.fields_control('Документы') %></div>
		<div id="voting-tab-log"><% if (0) { %>Журнал действий<% } %><%= obj.fields_control('Журнал') %></div>
	</div>

	<div class="asp-text">
		Голосование производится при в соответствии с 
		<a href="<%= app.url_offer_asp %>">соглашением об аналоге собственноручной подписи</a>.
	</div>

</div>