<style>
	div.cpw-award-admin-votes div.title {
		margin-bottom: 5px;
	}

	div.cpw-award-admin-votes{
		margin-bottom: 5px;
		height: 515px;
	}
	button.back-to-polls {
		margin-top: 10px;
	}

	/* footer styles*/
	div.cpw-award-admin-votes div.footer {
		border-top: 1px solid #dfdfdf;
		background: #fff;
		min-width: 780px;
		max-width: 1000px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		padding: 10px 10px 15px;
		box-sizing: border-box;
	}

	div.cpw-award-admin-votes div.footer div input.email {
		margin-top: 5px;
		width: 350px;
		border-width: 2px;
	}

	div.cpw-award-admin-votes div.footer p.font-14 {
		margin: 10px 0;
	}

	div.cpw-award-admin-votes div.footer button.to-signing {
		float: right;
	}

	td {
		cursor: auto;
	}

	div.grid {
		height: 500px;
	}
</style>
<div class="cpw-award-admin-votes">

	<div class="title">Зарегистрированные голоса:</div>
	<div class="grid">
		<table id="cpw-orpau-award-votes-grid" class="grid"></table>
		<div id="cpw-orpau-award-votes-pager"></div>
	</div>
	<div id="cpw-award-votes-pager">

	</div>
</div>
<div class="footer">
	<div class="button-panel">
		<button class="back-to-polls">Назад к голосованиям</button>
	</div>
</div>