<style>
div.cpw-orpau-club_agreement .document-on-sign
{
	height: 340px;
	width: 100%;
	border: 2px solid green;
	color: green;
	overflow: auto;
	padding-left: 35px;
	padding-right: 15px;
	font-size:small;
	box-sizing: border-box;
	margin: 1em 0;
	border-radius: none;
}
div.cpw-orpau-club_agreement .pre-color { color:green; }
div.cpw-orpau-club_agreement div.keys
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #eeeeee;
	padding-left: 10px;
	font-size: small;
}

div.cpw-orpau-club_agreement div.key-comments
{
	width: 100%;
	color: gray;
}
div.cpw-orpau-club_agreement div.key-comments span.time
{
	width: 130px;
	display: inline-block;
}
input.code { width: 120px;}
div.cpw-orpau-club_agreement span.test-code
{
	color: red;
}
div.cpw-orpau-club_agreement span.test-code span.code
{
	font-weight: bold;
}

div.cpw-orpau-club_agreement table
{
	margin-top: 5px;
	width: 100%;
}
div.cpw-orpau-club_agreement table td.repeat
{
	color: gray;
	/* padding-top: 5px; */
	/* text-align: center; */
	text-align: right;
}
div.cpw-orpau-club_agreement table td.repeat span.seconds
{
	color: black;
	font-weight: bold;
}
div.cpw-orpau-club_agreement table td.title
{
	text-align: right;
}
div.cpw-orpau-club_agreement div.main
{
	margin-top: 10px;
	text-align: center;
}
@media screen and (max-width: 480px)
{
	div.cpw-orpau-club_agreement table td.repeat
	{
		padding-top: 5px;
		text-align: center;
	}
	div.cpw-orpau-club_agreement table td.title
	{
		text-align: center;
	}
}
</style>
<%
var isMobile = false;
if (obj.options)
	isMobile= obj.options.isMobile();
%>
<div class="cpw-orpau-club_agreement">
	<div class="sign-title">
		Подписание заявления о вступлении в Общероссийский профсоюз арбитражных управляющих
	</div>

	<textarea readonly="readonly" class="document-on-sign" <%= obj.textarea_attrs('text') %>
		><%= obj.value() %></textarea>

	<span>Подписываемый текст обведён рамкой и показан буквами</span> 
	<span class="pre-color">зелёного цвета</span>.

	<div class="send-key-first">
		Для подтверждения Вашей подписи, Вы должны получить код подтверждения.
		<div class="main">
			<button class="button button-red send-code">Выслать код подтверждения аналога собственноручной подписи АУ</button>
		</div>
	</div>

    <div class="key-sent">

        <div class="keys">
            <div class="key-comments">
                <strong><span class="sms time"><% if (0) { %>12.12.2012 10:32<% } %></span></strong> 
                на телефон 
                <strong><span class="sms-number"><% if (0) { %>23874628674<% } %></span></strong> 
                выслано СМС с кодом подтверждения подписи.
            </div>
        </div>

        Для подтверждения Вашей подписи, 
        нужно получить код подтверждения и ввести его в поле ниже.<br/>

        <span class="test-code">
            В тестовом режиме сообщаем вам, что выслан код 
            <span class="code"><% if (0) { %>1234<% } %></span>.
        </span>

        <% if(isMobile) {%>
        <table class="code-table mobile">
            <tr>
                <td class="title">Получен&nbsp;код&nbsp;подтверждения:&nbsp;</td>
                <td class="field"><input type="text" class="code"/></td>
            </tr>
            <tr>
                <td class="repeat" colspan="2">
                    <div class="resend-after">
                        Повторная отправка нового кода подтверждения<br/>
                        возможна через <span class="seconds">60</span> сек.
                    </div>
                    <button class="button resend-code">Выслать новый код подтверждения (повторно)</button>
                </td>
            </tr>
        </table>
        <%} else {%>
        <table class="code-table">
            <tr>
                <td class="title">Получен&nbsp;код&nbsp;подтверждения:&nbsp;</td>
                <td class="field"><input type="text" class="code"/></td>
                <td class="repeat">
                    <div class="resend-after">
                        Повторная отправка нового кода подтверждения<br/>
                        возможна через <span class="seconds">60</span> сек.
                    </div>
                    <button class="button resend-code">Выслать новый код подтверждения (повторно)</button>
                </td>
            </tr>
        </table>
        <%}%>

        <div class="main">
            <button class="button button-red sign">Подписать заявление</button>
        </div>
    </div>

</div>