﻿<style>
/* Меняем стиль родителя */
div.cpw-ama-award-main {
	min-width: 780px;
	max-width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
div.cpw-ama-award-main div.award-logo {
	width: 95px;
	height: 115px;
	margin-right: 25px;
}
div.cpw-ama-award-main div.title-container span#MuseoSansRegular {
	font-size: 34px;
}
div.cpw-ama-award-main div.title-container span#MuseoSansBlack {
	font-size: 38px;
}
div.cpw-ama-award-main div.partners {
	margin-top: 20px;
}

/* Локальные стили */
div.cpw-dm-award-login {
	margin-top: 40px;
}
div.cpw-dm-award-login div.welcome,
div.cpw-dm-award-login div.authorization {
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	vertical-align: top;
}
div.cpw-dm-award-login div.welcome {
	padding-right: 15px;
}
div.cpw-dm-award-login div.welcome p:not(.font-14) {
	font-size: 18px;
	margin: 0 0 0.5em;
}
div.cpw-dm-award-login div.row
{
	margin-bottom: 5px;
}
div.cpw-dm-award-login div.row input
{
	width: 100%;
}
div.cpw-dm-award-login div.select-manager
{
	width: 100% !important;
}
div.cpw-dm-award-login button.login {
	margin-top: 10px;
}
#select2-drop-mask {
	width: 99vw !important;
	height: 99vh !important;
}
</style>
<div class="cpw-dm-award-login">

	<div class="welcome">
		<p>Здравствуйте!</p>

		<p>Примите участие в выборе лучшего Арбитражного управляющего года</p>

		<p class="gray-text font-14" style="margin-bottom:15px">В голосовании могут принимать участие только Арбитражные управляющие!</p>
	</div><div 
	class="authorization">
		<div style="margin-bottom: 5px;">
			<div class="title">Назовите себя:</div>
			<div class="select-manager" <%= obj.select2_attrs('manager') %> >тут должен быть select2 с выбором АУ</div>
			<p class="gray-text font-14">
				Если вы не нашли себя в списке, позвоните по номеру <span style="white-space: nowrap">+7 (499) 673-03-37</span>
			</p>
		</div>

		<div class="row">
			<div class="title">Фамилия:</div>
			<input type="text" class="surname" readonly="readonly" value="<%= obj.txt('Фамилия') %>" />
		</div>

		<div class="row">
			<div class="title">Имя:</div>
			<input type="text" class="firstname" readonly="readonly" value="<%= obj.txt('Имя') %>" />
		</div>

		<div class="row">
			<div class="title">Отчество:</div>
			<input type="text" class="patronymicname" readonly="readonly" value="<%= obj.txt('Отчество') %>" />
		</div>

		<div class="row">
			<div class="title">ИНН:</div>
			<input type="text" class="inn" readonly="readonly" value="<%= obj.txt('inn') %>" />
		</div>

		<div class="row">
			<div class="title">СРО:</div>
			<input type="text" class="sro" readonly="readonly" value="<%= obj.txt('СРО') %>" />
		</div>

		<button class="login red">Перейти к голосованию</button>
	</div>
</div>