﻿<style>
div.cpw-orpau-admin-root div.main { display:none; }
div.cpw-orpau-admin-root div.login { display:block; }
div.cpw-orpau-admin-root.logged div.main {
	display:block;
	border: none;
    background: #fff;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
}
div.cpw-orpau-admin-root.logged div.login { display:none; }
</style>
<% if (0) { %>
<style>
div.cpw-orpau-admin-root div.main
{
	display:block;
}
</style>
<% } %>
<div class="cpw-orpau-admin-root">

	<div class="login"><% if (0) { %>Форма авторизации<% } %></div>

	<div class="main"><% if (0) { %>Авторизованная часть<% } %></div>

</div>