<style>
.cpw-form-orpau-admin-group,
#cpw-form-orpau-admin-group-tabs {
	height: 100%;
}
.cpw-form-orpau-admin-group #cpw-form-orpau-admin-group-tab-members {
	height: calc(100% - 50px);
	position: relative;
}
.cpw-form-orpau-admin-group-name {
	margin-bottom: 15px;
}
.cpw-form-orpau-admin-group-name input {
	width: 100%;
}
.cpw-form-orpau-admin-group-description textarea {
	/* resize: none; */
	width: 100%;
}
.cpw-form-orpau-admin-group div.select
{
	display: inline-block;
	height: 100px;
}
.cpw-form-orpau-admin-group .select2-container-multi .select2-choices .select2-search-choice
{
	width: 100%;
	box-sizing: border-box;
	background-image: none;
	background: #fff;
	
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #c5c5c5;
	margin: 0;
	padding: 10px 10px 10px 23px;
}
.cpw-form-orpau-admin-group .select2-search-choice-close
{
	top: 10px;
	left: 5px !important;
}
.cpw-form-orpau-admin-group .select2-container-multi.select2-container-active .select2-choices
{
	border: unset;
}
.cpw-form-orpau-admin-group .select2-container .select2-choices, 
.cpw-form-orpau-admin-group .select2-container .select2-choices li,
.cpw-form-orpau-admin-group .select2-container .select2-choices div
{
	background-image: none;
	background: #fff;
}
.cpw-form-orpau-admin-group .select2-container .select2-choices
{
	border: 1px solid #c5c5c5;
	border-radius: 3px;
	padding: 5px;
	padding: 0;
}
.cpw-form-orpau-admin-group .select2-search-field input.select2-default {
	padding-left: 25px !important;
	min-width: 150px;
}
.cpw-form-orpau-admin-group li.select2-search-field::after
{
	content: "+";
	font-weight: 700;
	font-size: 16px;
	position: absolute;
	left: 5px;
	color: #D3242C;
}
.cpw-form-orpau-admin-group .select2-container-multi.select2-dropdown-open li.select2-search-field::after
{
	content: "";
}
.cpw-form-orpau-admin-group .select2-result .member-inn,
.cpw-form-orpau-admin-group .select2-result .member-sro {
	color: gray;
	font-size: 12px;
}
.cpw-form-orpau-admin-group .select2-result.select2-highlighted .member-inn,
.cpw-form-orpau-admin-group .select2-result.select2-highlighted .member-sro {
	color: #eee;
}
.cpw-form-orpau-admin-group .members-count {
	margin: 10px 0;
}
.cpw-form-orpau-admin-group .selected-members {
	position: relative;
	border: 1px solid #c5c5c5;
    border-radius: 3px;
	
    position: absolute;
    bottom: 0px;
    top: 80px;
    left: 10px;
    right: 10px;
	overflow: auto;
}
.cpw-form-orpau-admin-group .selected-members-list {
	list-style:none;
	margin:0;
	padding:0;
}
.cpw-form-orpau-admin-group .selected-members-list > li {
	position:relative;
	padding:10px 10px 10px 23px;
	line-height: 1em;
	border-bottom: 1px solid #c5c5c5;
}
.cpw-form-orpau-admin-group .selected-members-list > li:last-child { border: none}
</style>

<div class="cpw-form-orpau-admin-group">

	<div id="cpw-form-orpau-admin-group-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-form-orpau-admin-group-tab-main" >Общее</a></li>
			<li><a href="#cpw-form-orpau-admin-group-tab-members">Состав</a></li>
		</ul>
		
		<div id="cpw-form-orpau-admin-group-tab-main" class="page">
			<div class="cpw-form-orpau-admin-group-name">
				<span>Название: </span><br/>
				<input type="text" value="<%= obj.txt('Name') %>">
			</div>
			<div class="cpw-form-orpau-admin-group-description">
				<span>Описание:</span><br/>
				<textarea rows="6" <%= obj.textarea_attrs('Description') %>><%= obj.value() %></textarea>
			</div>
		</div>

		<div id="cpw-form-orpau-admin-group-tab-members" class="page">
			<div class="select2 select-members" <%= obj.select2_attrs('Состав_АУ') %> >тут должен быть select2</div>
			<div class="members-count">Выбрано АУ: <span class="count-field">0</span></div>
			<div class="selected-members"></div>
		</div>
	</div>

</div>
