<style>
    div.cpw-voting-question1
    {
        max-width: 600px;
        margin: 0 auto;
    }
    div.cpw-voting-question1 table
    {
        max-width: 600px;
        width: 100%;
        margin: 10px auto;
        border-collapse:collapse;
        overflow:hidden;
        border: 2px solid #DFDFDF;
    }
    div.cpw-voting-question1 table td
    {
        text-align: center;
        border: 1px solid #DFDFDF;
        width: 33%;
        box-sizing: border-box;
        font-size: 18px;
        position: relative;
    }
    
    div.cpw-voting-question1 table tr label
    {
        width: 100%;
        display: inline-block;
        padding: 10px 5px;
        box-sizing: border-box;
        min-height: 35px;
    }
    div.cpw-voting-question1 label.container span.checkmark
    {
        bottom: 0;
        right: 0;
        margin: auto;
    }
    </style>
    <%	
    var v= obj.value();
    if (!v || null==v)
        v= {};
    var Подписано= v.Подписано;
    var Ответ= v.Ответ;
    var Варианты= 
        (v.На_голосование && v.На_голосование.Варианты) ? 
            v.На_голосование.Варианты : ['За', 'Против', 'Воздержался'];
    %>
    <% if (!Подписано) { %>
    <style>
    div.cpw-voting-question1 table td.hovered
    ,div.cpw-voting-question1 table td:hover
    {
        background: #F5F5F5;
        cursor: pointer;
    }
    div.cpw-voting-question1 table td.hovered:after
    ,div.cpw-voting-question1 table td:hover:after
    {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        top: -5000px;
        height: 10000px;
        width: 100%;
        background: #F5F5F5;
        z-index: -1;
    }
    </style>
    <% } %>
    <div class="cpw-voting-question1">
    
        <div class="tcontainer">
        <table>
            <tr>
                <%	for (var i= 0; i < Варианты.length; i++)
                    {
                        var вариант= Варианты[i];
                %>
                <td><label for="question0-radio-vote-<%= i %>"><%= вариант %><% if (0) { %>За | Против | Воздержаться<% } %></label></td>
                <%	} %>
            </tr>
            <tr>
                <%	for (var i= 0; i < Варианты.length; i++)
                    { 
                        var вариант= Варианты[i];
                %>
                <td>
                    <% if (!Подписано) { %>
                    <label class="container">
                        <input type="radio" <%= obj.radio_attrs('Ответ',вариант) %> id="question0-radio-vote-<%= i %>"/>
                        <span class="checkmark"></span>
                    </label>
                    <% } else { %>
                        <% if (вариант==Ответ) { %>
                            &#10004;
                        <% } %>
                    <% } %>
                </td>
                <%	} %>
            </tr>
        </table>
        </div>
    </div>