<div>
	<p>Выполненная при помощи выбранного Вами сертификата</p> 
	<p style="text-align: center">электронная подпись токена авторизации</p> 
	<p style="text-align:right;font-weight:bold">не прошла проверку на сервере!</p>
</div>
