<div>
	Для входа в кабинет АУ через ЭЦП необходимо использовать браузер <b>Internet Explorer</b> с компонентом capicom.dll!<br/>
	Далее вам будет предложено использовать логин и пароль для доступа в систему с любых устройств
</div>
