<div>
	Для корректной работы с ЭЦП необходимо добавить сайт в доверенные.<br/>
	Для этого:
	<ul style="margin: 0; padding-left: 1.25em">
		<li>откройте Internet Explorer, нажмите кнопку Сервис, а затем выберите пункт Свойства браузера,</li>
		<li>перейдите на вкладку Безопасность, выберите значок зоны безопасности Надежные сайты, а затем нажмите кнопку Сайты,</li>
		<li>укажите адрес сайта и нажмите кнопку Добавить.</li>
	</ul>
</div>
