<style>
div.cpw-orpau-admin-manager {
    max-height: 700px;
    overflow: auto;
}
div.cpw-orpau-admin-manager table.fio {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 14px;
}
div.cpw-orpau-admin-manager table.fio td {
    vertical-align: top;
    width: 50%;
}
div.cpw-orpau-admin-manager span.label {
    font-size: 12px;
    color: #808080;
}
div.cpw-orpau-admin-manager .code-title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 10px;
}
div.cpw-orpau-admin-manager .for-codes-table table {
    width: 100%;
    border-collapse: collapse;
}
div.cpw-orpau-admin-manager .for-codes-table table td {
    border: 1px solid #DFDFDF;
    padding: 5px;
}
div.cpw-orpau-admin-manager .for-codes-table table thead td {
    font-weight: 600;
    font-size: small;
    color: #333;
    background: #EFEFEF;
}
div.cpw-orpau-admin-manager .for-codes-table table tbody tr:nth-child(2n) td {
    background: #F5F5F5;
}
</style>
<%
var o= obj.value();
if (!o || null==o)
	o= {};
%>
<div class="cpw-orpau-admin-manager">
    <table class="fio">
        <tr>
            <td>
                <span class="label">ФИО</span><br>
                <%= o.LastName %> <%= o.FirstName %> <%= o.MiddleName %>
            </td>
            <td>
                <span class="label">№ ЕФРСБ</span><br>
                <%= o.RegNum %>
            </td>
        </tr>
        <tr>
            <td>
                <span class="label">ИНН</span><br>
                <%= o.INN %>
            </td>
            <td>
                <span class="label">СРО</span><br>
                <%= o.SROName %>
            </td>
        </tr>
        <tr>
            <td>
                <span class="label">E-mail</span><br>
                <%= o.Email %>
            </td>
            <td>
                <span class="label">Телефон</span><br>
                <%= o.Phone %>
            </td>
        </tr>
        <tr>
            <td>
                <span class="label">Логин</span><br>
                <%= o.Login %>
            </td>
            <td>
                <span class="label">Пароль</span><br>
                <%= o.Password %>
            </td>
        </tr>
    </table>

    <div class="codes">
        <div class="code-title">
            Коды подтверждения по вопросам
            <button class="refresh-codes">Обновить</button>
        </div>
        <div class="for-codes-table"></div>
    </div>
</div>