﻿<style>
div.cpw-orpau-debtor
{
	width:950px;
	margin:0 auto;
}
div.cpw-orpau-debtor div.row *
{
	vertical-align:middle;
}
div.cpw-orpau-debtor div.row button
{
	float:right;
}
div.cpw-orpau-debtor div.label
{
	display:inline-block;
	color:gray;
	margin-right:5px;
	white-space: pre-wrap;
}
div.cpw-orpau-debtor div.value
{
	display:inline-block;
	margin-right:10px;
}
div.cpw-orpau-debtor div.inline-value
{
	display:inline-block;
}
div.cpw-orpau-debtor div.label.second
{
	margin-left: 31px;
}
div.cpw-orpau-debtor div.row.buttons div.label
{
	margin-top: 10px;
}
div.cpw-orpau-debtor table
{
	width: 90%;
	margin-left: 20px;
}
div.cpw-orpau-debtor table tr.title
{
	font-weight: bold;
}
td.source-date
{
	width: 200px;
}
</style>
<% var model_validated = obj.value()!=undefined&&obj.value()!=null%>
<% var o=obj.value()%>
<% o=o?o:{}%>
<div class="cpw-orpau-debtor">
	<div class="row">
		<div class="label">Должник:</div>
		<div class="value"><%= model_validated?o.Name:'' %><% if (0) { %>ООО Рога и копыта<% } %></div>
	</div>
	<div class="row">
		<%if (o.INN) {%>
		<div class="label second">ИНН:</div>
		<div class="value"><%=o.INN %><% if (0) { %>2122351105<% } %></div> 
		<%}%>
		<%if (o.OGRN) {%>
		<div class="label">ОГРН:</div>
		<div class="value"><%=o.OGRN %><% if (0) { %>5010662432523<% } %></div> 
		<%}%>
		<%if (o.SNILS) {%>
		<div class="label">СНИЛС:</div>
		<div class="value"><%=o.SNILS %><% if (0) { %>48640226192<% } %></div> 
		<%}%>
		<%if (o.LegalAdress) {%>
		<br>
		<div class="label" style="margin-left:31px;">Адрес регистрации:</div>
		<div class="value"><%=o.LegalAdress %><% if (0) { %>г. Москва, ул Ленина д. 11, оф.4<% } %></div> 
		<%}%>
	</div>

	<div class="row buttons">
		<div class="label">Текущее состояние в аспекте банкротства должника:</div>
		<button class="open-confirmation-btn">Открыть справку о полномочиях АУ</button>
		<div style="clear: both;"></div>
	</div>

	<div class="row">
		<%if (o.casenumber) {%>
		<div class="label second">Дело о банкротстве:</div>
		<div class="value"><%= o.casenumber %></div> 
		<% }%>
		<%if (o.Procedure) {%>
		<div class="label">Процедура:</div>
		<div class="value"><%= o.Procedure %></div> 
		<% }%>
		<%if (o.DateStart) {%>
		<div class="label">Начало:</div>
		<div class="value"><%=o.DateStart%></div>
		<% }%>
		<%if (o.DateFinish) {%>
		<div class="label">Завершение:</div>
		<div class="value"><%=o.DateFinish %></div>
		<% }%>
		<% if (model_validated && o.LegalCaseList) {%>
			<div class="label" style="margin-left: 31px;">Номера дел: </div>
			<% var cases = ""%>
			<% for (var i= 0; i < o.LegalCaseList.length; i++) 
			{
				cases+=' '+o.LegalCaseList[i].Number;
				if (i<o.LegalCaseList.length-1)
				{
					cases+=',';
				}
			} %>
			<div class="value" ><%=cases%></div>
		<% } %>
	</div>

	<div class="row">
		<% if (o && o.Manager) {%>
		<div class="label second">Арбитражный управляющий:</div>
		<div class="value"><%= o.Manager.LastName+' '+ o.Manager.FirstName+' '+o.Manager.MiddleName %><% if (0) { %>Петров Пётр Петрович<% } %></div>
		<div class="label">(ИНН:</div>
		<div class="inline-value"><%=o.Manager.INN %><% if (0) { %>118762654387<% } %></div><div class="label"></div>
		<div class="inline-value"><%= o.Manager.SROName %></div><div class="label">)</div>
		<% } %>
	</div>

	<div class="row buttons">
		<div class="label">Источники информации:</div>
		<!--
		<button>Открыть источник информации</button>
		<div style="clear: both;"></div>
		-->
	</div>

	<script>
		function openNewWin(url, name, scr, w, h) 
		{
			window.open(url, name, 'toolbar=no,location=no,status=no,menubar=no,resizable=yes,directories=no,scrollbars=yes,width=' + w + ',height=' + h + '');
		}
	</script>
	<div class="source-table">
		<% if (0) { %>таблица с источниками информации<% } %>
		<table style="border-collapse: separate; border-spacing: 5px;">
			<tr class="title">
				<td class="source-date">Дата</td>
				<td>Источник информации</td>
			</tr>
			<% if ( o.Text) { %>
			<% for (var i= 0; i < o.Text.length; i++) 
				{ %>
				
					<tr>
						<td class="source-date" style="vertical-align: top;">
							<a href="#" onclick="openNewWin('<%=  o.Text[i].url  %>','Сообщение', 'yes', 1000, 600)">
								<%= o.Text[i].Date %><% if (0) { %>01.01.2001<% } %>
							</a>
						</td>
						<td>
							<a href="#" onclick="openNewWin('<%=  o.Text[i].url  %>','Сообщение', 'yes', 1000, 600)">
								Объявление ЕФРСБ №<%= o.Text[i].Number%><% if (0) { %>6734<% } %> 
								— <%= o.Text[i].Description %><% if (0) { %>О судебном акте<% } %>
							</a>
						</td>
					</tr>
			<%	} %>
			<%	} %>
		</table>
	</div>
</div>