<style>
div.crowbar-test-fastened-typeahead input.typeahead
{
	width: 300px;
	display: inline-block;
}
div.crowbar-test-fastened-typeahead div.title
{
	display: inline-block;
	width: 260px;
	height: 30px;
}
div.crowbar-test-fastened-typeahead .tt-menu.tt-open
{
	background-color: white;
	padding: 3px;
	border:1px solid black;
}
div.crowbar-test-fastened-typeahead .tt-suggestion
{
	padding: 3px;
}
div.crowbar-test-fastened-typeahead .tt-suggestion.tt-cursor
{
	background-color: #eeeeee;
}
</style>
<div class="crowbar-test-fastened-typeahead">
	<div class="title">typeahead из примера:</div>
	<input type="text" value="<%= obj.txt('first') %>" <%= obj.typeahead_attrs() %> />
</div>