<style>
div.cpw-form-orpau-voting-documents > div.md5-comments
{
	margin-top:-5px;
	font-size: smaller;
	text-align:center;
	color:gray;
}
</style>
<div class="cpw-form-orpau-voting-documents">
	<div class="grid">
		<table id="cpw-orpau-voting-documents-grid" class="grid"></table>
		<div id="cpw-orpau-voting-documents-grid-pager"></div>
	</div>

	<div class="md5-comments">
		Для проверки контрольной суммы (хэша) md5 скачанного файла можно использовать сторонние сервисы,<br/> например 
		<a target="_blank" href="http://onlinemd5.com/">http://onlinemd5.com/</a> или 
		<a target="_blank" href="https://md5file.com/calculator">https://md5file.com/calculator</a> или 
		<a target="_blank" href="https://hash.online-convert.com/ru/md5-generator">https://hash.online-convert.com/ru/md5-generator</a>.
	</div>
</div>
