﻿<style>
div.orpau-root-login-dialog { padding: 0 !important;}

div.orpau-login-wrap
{
	white-space: nowrap;
	overflow-x: hidden;
}

div.orpau-login-ways,
form.orpau-root-login-form { 
	padding: 22px 16px;
	width: 385px;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
}

div.orpau-login-ways button.log-in { width: 100%; }
div.orpau-login-ways button.log-in:not(:last-child)
{
	margin-bottom: 14px;
}

form.orpau-root-login-form {
	display: none;
	margin: 0;
}
form.orpau-root-login-form div.row { margin-bottom: 14px; }
form.orpau-root-login-form div.row > span.semi-bold
{
	margin-bottom: 7px;
	display: inline-block;
}
form.orpau-root-login-form input { width: 100%; }
form.orpau-root-login-form span.back-button {
	color: #D3242C;
	text-decoration: underline;
	cursor: pointer;
}
form.orpau-root-login-form span.back-button:hover,
form.orpau-root-login-form .forgot-password:hover { opacity: 0.8; }
form.orpau-root-login-form .how-login-text {
	white-space: normal;
	font-size: 13px;
}

div.cpw-orpau-root-page {
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* height: calc(100% - 31px); */
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
	margin-bottom: -25px;
	overflow: auto;
}
body.test div.cpw-orpau-root-page
{
	position:relative;
}
div.cpw-orpau-root-page .cpw-orpau-root-page-title {
	margin-top: auto;
	text-align: center;
}
div.cpw-orpau-root-page .cpw-orpau-root-page-title button.root-login {
	width: 100px;
}
div.cpw-orpau-root-page .cpw-orpau-root-page-footer
{
	margin-top: auto;
	text-align: center;
	padding: 0 25px 25px;
	color: gray;
	width: 100%;
	box-sizing: border-box;
	font-size: 12px;
}
form.orpau-root-login-form .forgot-password {
	color: #D3242C;
	cursor: pointer;
	font-size: small;
	margin-top: 3px;
}
div.cpw-orpau-root-page .row {
	margin: .75em 0;
	color: black;
	font-size: 16px
}
</style>

<div class="cpw-orpau-root-page">
	<div class="cpw-orpau-root-page-title">
		<div class="row" style="font-size: 20px;font-weight: 700;">9 июля 2021 года в Москве пройдет<br/>Всероссийский съезд арбитражных управляющих</div>
		<div class="row" style="font-size: 16px;">Для участия в работе Съезда арбитражному управляющему<br/>необходимо стать делегатом от региона или СРО.</div>
		<div class="row">Дата начала заявок на участия в Съезде 17.05.2021</div>
		<div class="row"><a href="21.04.27 Положение о делегатах.pdf" target="_blank" rel="noopener noreferrer">Порядок выбора делегатов</a></div>
		<div class="row">Для подачи заявки и голосования за кандидатов необходимо пройти<br/>идентификацию на подтверждение статуса арбитражного управляющего</div>

		<button class="root-login button button-red">
			Вход
		</button>

		<div class="row">Для выдвиждения своей кандидлатуры от СРО<br/>можно также подать заявку непосредственно в свое СРО.</div>
		<div class="row">
			Сопредседатели оргкомитета Съезда:<br/>
			Бугера М.Е. (Государственная Дума),<br/>
			Василега М.Ю. (Общероссийский профсоюз АУ),<br/>
			Коцюба Н.В. (Национальное объединение СРО АУ),<br/>
			Ноготков К.О. (Российский союз СРО АУ),<br/>
			Сачёв М.В. (Российский антикризисный союз)
		</div>

		<div class="row">
			<a target="_blank" href="https://russianit.ru/support/" rel="noopener noreferrer">Служба поддержки</a>
		</div>
	</div>
	<div class="cpw-orpau-root-page-footer">
		Единая информационная система арбитражных управляющих
		<br/>
		<br/>
		ООО «Русские информационные технологии»<br/>
		в соответствии с пунктом 4 статьи 5 Отраслевого соглашения в сфере несостоятельности (банкротства)<br/>
		и финансового оздоровления на 2020-2022 годы.<br/>
	</div>
</div>

<div class="orpau-root-login-dialog">
	<div class="orpau-login-wrap">
		<div class="orpau-login-ways">
			<button class="button-red log-in with-certificate">
				Вход по ЭЦП
			</button>
			<br>
			<button class="log-in with-password">
				<span>Вход по логину</span><br/>
				<span style="font-size:x-small;color:gray;">(логин, email или номер телефона, в том числе от Клуба АУ)</span>
			</button>
		</div>

		<form action="" class="orpau-root-login-form">
			<span class="back-button">← Назад к выбору варианта авторизации</span>
			<br><br>
			<div class="row">
				<span class="semi-bold">E-mail, Логин или Номер телефона:</span><br>
				<input type="text" name="Login" value="<%= obj.txt('Login') %>" autofocus="autofocus" /><br>
				<span style="font-size:x-small;color:gray;">Номер телефона нужно вводит в формате: 7xxxxxxxxxx</span>
			</div>
	
			<div class="row">
				<span class="semi-bold">Пароль:</span><br>
				<div class="password-input-container">
					<input type="password" name="Password" value="<%= obj.txt('Password') %>" />
					<span class="icon-password-toggle" title="Показать пароль"></span>
				</div>
				<div class="forgot-password">Забыл пароль</div>
			</div>

			<div class="row how-login-text">
				Для входа необходимо разрешить в настройках аккаунта использование <b>логина</b> и <b>пароля</b> в качестве данных для авторизации.
			</div>

			<div class="buttons">
				<button class="root-login-submit button button-red">Войти</button>
			</div>
		</form>
	</div>
</div>

<div class="cpw-orpau-root-page-body">
</div>