﻿<style>
div.cpw-ama-datamart-news div.news-cell div.title
{
	display:inline-block;
}
div.cpw-ama-datamart-news div.news-cell div.title div.time_type
{
	float:left;
	display:inline;
}
div.cpw-ama-datamart-news div.news-cell div.title div.time
{
	display:inline;
}
div.cpw-ama-datamart-news div.news-cell div.title div.type
{
	font-weight:bold;
	display:inline;
}
div.cpw-ama-datamart-news div.news-cell div.title div.debtor
{
	font-weight:bold;
	float:left;
}
div.cpw-ama-datamart-news div.news-cell div.brief
{
	max-height:90px;
	text-overflow: ellipsis;
	padding-bottom:15px;
	padding-left:15px;
	overflow: hidden;
}
div.cpw-ama-datamart-news .ui-jqgrid-hdiv.ui-state-default
{
	display:none;
}
div.cpw-ama-datamart-news div.grid
{
	border-top:1px solid #dfdfdf;
}
div.cpw-ama-datamart-news span#sp_1_cpw-ama-datamart-news-pager
{
	font-size: small;
}


div.cpw-ama-datamart-news .refresh-btn {
	margin-bottom: 5px;
	position: absolute;
	top: 0;
	right: 11px;
}
div.cpw-ama-datamart-news .refresh-btn__wrapper {
	cursor: pointer;
	display: flex;
	align-items: center;
}

div.cpw-ama-datamart-news .refresh-btn__wrapper:hover .refresh-btn__icon {
	transform: rotate(270deg) scale(-1,1);
}

div.cpw-ama-datamart-news .refresh-btn__icon {
	fill: #D3242C;
	width: 30px;
	height: 30px;
	transform: rotate(90deg) scale(-1,1);
	margin-left: 5px;
	transition: transform .5s ease;
}

div.cpw-ama-datamart-news .refresh-btn .refresh-btn__title{
	font-size: 14px;
	color:#D3242C;
}
</style>
<div class="cpw-ama-datamart-news">

	<div class="refresh-btn">
		<div class="refresh-btn__wrapper">
			<span class="refresh-btn__title">Обновить</span>
			<svg class="refresh-btn__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				width="561px" height="561px" viewBox="0 0 561 561" xml:space="preserve">
				<path d="M280.5,76.5V0l-102,102l102,102v-76.5c84.15,0,153,68.85,153,153c0,25.5-7.65,51-17.85,71.4l38.25,38.25
				C471.75,357,484.5,321.3,484.5,280.5C484.5,168.3,392.7,76.5,280.5,76.5z M280.5,433.5c-84.15,0-153-68.85-153-153
				c0-25.5,7.65-51,17.85-71.4l-38.25-38.25C89.25,204,76.5,239.7,76.5,280.5c0,112.2,91.8,204,204,204V561l102-102l-102-102V433.5z" />
			</svg>
		</div>
	</div>

	<div class="grid closed-search">
		<table id="cpw-ama-datamart-news-grid" class="grid"></table>
		<div id="cpw-ama-datamart-news-pager"></div>
	</div>

</div>