﻿<div class="news-cell">
	<div class="title">
		<div class="debtor"><%= obj.row.debtor %><% if (0) { %>ООО Угробский заборостроительный завод<% } %></div>

		<div class="time_type">
			&nbsp;(<div class="time"><%= obj.row.time %><% if (0) { %>03.03.2019 19:11<% } %></div> - 
			ефрсб <div class="type"><%= obj.о_чём(obj.row.type) %><% if (0) { %>о судебном акте<% } %></div>
			<% if (obj.row.extra) { %>

				<% if (obj.row.extra.тип_акта) { %> <%= obj.h_DecisionType.short_by_id(obj.row.extra.тип_акта) %><% if (0) { %>о любви к родине<% } %><% } %>

				<% if (obj.row.extra.event) { %>
					<% if ('a'==obj.row.type) { %>, заседание на<% } %>
					 <%= obj.дата_и_время_анонсированного_события(obj.row.extra.event) %><% if (0) { %> 01.01.2021 10:00<% } %>
					<% if (obj.row.extra.форма) { %>, форма: <%= obj.row.extra.форма %><% if (0) { %> заочное голосование<% } %><% } %>
				<% } %>

				<% if (obj.row.extra.на_сумму) { %> на <%= obj.row.extra.на_сумму %><% if (0) { %>3<% } %> руб.<% } %>

				<% if (obj.row.extra.кредитор) { %> от <%= obj.row.extra.кредитор %><% if (0) { %>ООО Карадаг<% } %><% } %>

			<% } %>
			)

		</div>
	</div>

	<div class="brief">
		<%= obj.row.brief %><% if (0) { %> тестовый 
		текст 
		новости<% } %>
	</div>
</div>