﻿<style>
div.cpw-ama-orpau-datamart iframe
{
	margin:0 auto;
}
</style>
<%
var o= obj.value();
var dm= !o || null==o || !o.datamart ? {} : o.datamart;
var widget= obj.options.widget;
var url= app.datamart_url + '?id_ManagerCertAuth=' + dm.id_ManagerCertAuth + '&amp;auth=' + dm.auth  + '&amp;widget=' + widget;

var release_mode= !$('body').hasClass('test');

if (!app.cpw_ama_orpau_datamart_iframe_on_load)
{
	app.cpw_ama_orpau_datamart_iframe_on_load= function()
	{
		var ifrm= $('iframe.datamart.pdatas');
		ifrm.attr('data-isloaded',1);
	}
}
%>
<div class="cpw-ama-orpau-datamart">

	<iframe class="datamart pdatas"
		src="<%= url %>"
		align="middle"
		frameborder="no"
		width="100%"
		<% if (release_mode) { %>height="100%"<% } %>
		onload="app.cpw_ama_orpau_datamart_iframe_on_load()" >
	</iframe>

</div>