﻿<style>
div.cpw-orpau-confirmation {
	width: 910px;
	margin: 0 auto;
	vertical-align: top;
}

div.cpw-orpau-confirmation div.buttons {
	width: 200px;
	display: inline-block;
	vertical-align:top;
	margin-top:10px;
}

div.cpw-orpau-confirmation div.buttons button {
	width: 186px;
	margin: 3px;
}

div.cpw-orpau-confirmation div.text {
	width: 70%;
	display: inline-block;
	height: 420px;
	overflow: scroll;
	border: 1px solid green;
	margin: 3px;
	overflow-x: hidden;
}

div.content {
	padding: 5px;
	padding-top: 0;
}

div.cpw-orpau-confirmation div.text div.content {
	margin: 0 auto;
	word-wrap: break-word;
}

div.cpw-orpau-confirmation div.text div.content pre {
	width: 100%;
	word-wrap: break-word;
	white-space: pre-wrap;
}

div.cpw-orpau-confirmation div.mark {
	width: 150px;
	height: 150;
	margin: auto 5px;

}
</style>
<%
var o= obj.value();
if (!o || null==o)
	o= {};
%>

<div class="cpw-orpau-confirmation">
	<div class="buttons">
		<button class="order-btn" hidden="true" >Заказать</button>
		<button class="printable-btn" >На печать</button>
		<button class="save-btn">Сохранить справку</button>
		<% if (o.Number) { %>
		<div class="confirmation-mark" style="margin: 3px;">
			<span >Метка:</span>
			<span style="font-weight: 100; color: grey; font-size: small;"><br>(нажмите правой кнопкой мыши, выберите пункт копировать и вставьте в документ)</span>
			<div class="mark" style="width: 177px;">
				<img class="mark-img" lowsrc="img/loading-spinner.gif" style="margin-left: -5px;" width="177" />
			</div>
		</div>
		<button class="sign-btn" >Сохранить подпись</button>
		<button class="cert-btn" style="margin-bottom: 30px;">Открыть сертификат</button>
		<% } %>
	</div>
	<div class="text" style="width:700px;">
		<div class="content">
			<pre class="confirmation_text" style="margin: 5px;"><%= o.Text %><% if (0) { %>
Справка о полномочиях Арбитражного управляющего № 28374682764
 
Подготовлена ..
		<% } %></pre>
		</div>
	</div>
</div>