﻿<style>
div.cpw-orpau-main
{
	margin: 0 auto;
	display: none;
}
div.cpw-orpau-main > header
{
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
	margin-bottom: 25px;
	padding: 10px;
	font-size: 30px;
	font-weight: 700;
}
div.cpw-orpau-main > header > div.header
{
	max-width: 1200px;
	padding: 0 20px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
div.cpw-orpau-main > header div.title
{
	vertical-align: top;
	width: unset;
	text-align: center;
}
div.cpw-orpau-main > header div.tools
{
	display: inline;
	width: unset;
}
div.cpw-orpau-main > header div.tools button.login
{
	vertical-align: middle;
	margin-top: -10px;
}
div.cpw-orpau-main > header div.name-div
{
	text-align: center;
	font-size: medium;
	font-weight: 200;
}
div.cpw-orpau-main table.ui-pg-table
{
	min-width: 300px ;
	font-size: 12px;
}


div.orpau-login-dialog { padding: 0 !important;}
div.orpau-login-wrap {
	white-space: nowrap;
	overflow-x: hidden;
}
div.orpau-login-ways,
form.orpau-login-form { 
	padding: 22px 16px;
	width: 385px;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
}
div.orpau-login-ways button.log-in { width: 100%; }
div.orpau-login-ways button.log-in:not(:last-child) {
	margin-bottom: 14px;
}
form.orpau-login-form {
	display: none;
	margin: 0;
	max-width: 470px;
	margin:0 auto;
}
form.orpau-login-form div.row { margin-bottom: 14px; }
form.orpau-login-form div.row > span.semi-bold{
	margin-bottom: 7px;
    display: inline-block;
}
form.orpau-login-form input { width: 100%; }
form.orpau-login-form span.back-button {
	color: #D3242C;
	text-decoration: underline;
	cursor: pointer;
}
form.orpau-login-form span.back-button:hover,
form.orpau-login-form .forgot-password:hover { opacity: 0.8; }
form.orpau-login-form .how-login-text {
	white-space: normal;
	font-size: 13px;
}
div.cpw-orpau-main .profile-bar { display: none; font-size: 16px; }
div.cpw-orpau-main .profile-dropdown
{
	font-weight: 600;
	cursor: pointer;
	position: relative;
	display: inline-block;
	font-size: 16px;
    vertical-align: middle;
}
div.cpw-orpau-main .profile-dropdown .jquery-menu
{
	right: -6px;
}
div.cpw-orpau-main .profile-dropdown .jquery-menu .arrow
{
	right: 2px;
}
div.cpw-orpau-main .triange-red-icon { margin-left: 5px; }


div.cpw-orpau-start-page {
    background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	position: fixed;
    top: 0;
	z-index: 1;
	overflow: auto;
}
div.cpw-orpau-start-page .cpw-orpau-start-page-title {
	margin-top: auto;
	text-align: center;
	width: 100%;
}
div.cpw-orpau-start-page .cpw-orpau-start-page-title h1 {
	max-width: 470px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
div.cpw-orpau-start-page .cpw-orpau-start-page-title button.login {
	width: 100px;
}
div.cpw-orpau-start-page .cpw-orpau-start-page-footer {
	margin-top: auto;
	text-align: center;
	/* padding: 25px; */
	padding: 0 25px 25px;
    color: gray;
	width: 100%;
	box-sizing: border-box;
	font-size: 12px;
}
form.orpau-login-form .forgot-password {
	color: #D3242C;
	cursor: pointer;
	font-size: small;
	margin-top: 3px;
}

div.cpw-orpau-start-page .row {
	margin: .75em 0;
	color: black;
	font-size: 16px
}

@media screen and (max-width: 480px) {
	div.cpw-orpau-main header
	{
		font-size: 26px;
		font-weight: 600;
		justify-content: flex-start;
	}
	div.cpw-orpau-main > header > div.header { padding: 0 }
	div.cpw-orpau-main header div.title
	{
		margin: 0 auto 0 10px
	}
	div.cpw-orpau-start-page form.orpau-login-form { 
		display: block;
		width: 100%;
		padding: 30px;
	}
	div.cpw-orpau-start-page form.orpau-login-form input { padding: 10px 12px !important; }
	/* */
	/* div.cpw-orpau-start-page button.login { display: none; } */
	div.cpw-orpau-main > header div.title { display: none; }
	div.cpw-orpau-main > header div.title.mobile { display: inline; }
	div.cpw-orpau-main { padding-bottom: 50px; }
}
@media screen and (min-width: 481px) {
	div.cpw-orpau-main > header div.title { display: inline; }
	div.cpw-orpau-main > header div.title.mobile { display: none; }
	form.orpau-login-form {
		display: none;
		margin: 0;
		max-width: 470px;
		margin:0 auto;
	}
}
</style>
<div class="cpw-orpau-main" >

	<header>
		<div class="header">
			<div class="title">Единая ИС Арбитражных управляющих</div>
			<div class="title mobile">ЕИС АУ</div>
			<div class="tools">
				<span class="profile-bar">
					<div class="profile-dropdown">
						<span style="vertical-align: middle;" class="profile-name">
							Меню
						</span>
						<div class="triange-red-icon"></div>
						<ul class="jquery-menu">
							<li class="arrow"></li>
							<li class="open-profile">Профиль</li>
							<li class="logout">Выйти</li>
						</ul>
					</div>
				</span>
			</div>
		</div>
	</header>

	<div class="cabinet"></div>

	<div class="orpau-login-dialog">
		<div class="orpau-login-wrap">
			<div class="orpau-login-ways">
				<button class="button-red log-in with-certificate">
					Вход по ЭЦП
				</button>
				<br>
				<button class="log-in with-password">
					Вход по логину<br/>
					<span style="font-size:x-small;color:gray;">(логин, email или номер телефона, в том числе от Клуба АУ)</span>
				</button>
			</div>

			<form action="" class="orpau-login-form">
				<span class="back-button">← Назад к выбору варианта авторизации</span>
				<br><br>
				<div class="row">
					<span class="semi-bold">E-mail, Логин или Номер телефона:</span><br>
					<input type="text" name="Login" value="<%= obj.txt('Login') %>" autofocus="autofocus" /><br>
					<span style="font-size:x-small;color:gray;">Номер телефона нужно вводит в формате: 7xxxxxxxxxx</span>
				</div>
		
				<div class="row">
					<span class="semi-bold">Пароль:</span><br>
					<div class="password-input-container">
						<input type="password" name="Password" value="<%= obj.txt('Password') %>" />
						<span class="icon-password-toggle" title="Показать пароль"></span>
					</div>
					<div class="forgot-password">Забыл пароль</div>
				</div>

				<div class="row how-login-text">
					Для входа необходимо разрешить в настройках аккаунта использование <b>логина</b> и <b>пароля</b> в качестве данных для авторизации.
				</div>

				<div class="buttons">
					<button class="login button button-red">Войти</button>
				</div>
			</form>
		</div>
	</div>

</div>

<div class="cpw-orpau-start-page">
	<div class="cpw-orpau-start-page-title">
		<% if (!app.start_real_orpau) { %>
		<div class="row" style="font-size: 20px;font-weight: 700;">9 июля 2021 года в Москве пройдет<br/>Всероссийский съезд арбитражных управляющих</div>
		<div class="row" style="font-size: 16px;">Для участия в работе Съезда арбитражному управляющему<br/>необходимо стать делегатом от региона или СРО.</div>
		<div class="row">Дата начала заявок на участия в Съезде 17.05.2021</div>
		<div class="row"><a href="21.04.27 Положение о делегатах.pdf" target="_blank" rel="noopener noreferrer">Порядок выбора делегатов</a></div>
		<div class="row">Для подачи заявки и голосования за кандидатов необходимо пройти<br/>идентификацию на подтверждение статуса арбитражного управляющего</div>

		<button class="login button button-red">
			Вход
		</button>

		<div class="row">Для выдвиждения своей кандидлатуры от СРО<br/>можно также подать заявку непосредственно в свое СРО.</div>
		<div class="row">
			Сопредседатели оргкомитета Съезда:<br/>
			Бугера М.Е. (Государственная Дума),<br/>
			Василега М.Ю. (Общероссийский профсоюз АУ),<br/>
			Коцюба Н.В. (Национальное объединение СРО АУ),<br/>
			Ноготков К.О. (Российский союз СРО АУ),<br/>
			Сачёв М.В. (Российский антикризисный союз)
		</div>

		<div class="row">
			<a target="_blank" href="https://russianit.ru/support/" rel="noopener noreferrer">Служба поддержки</a>
		</div>
		<% } %>
		<!-- Расскомментировать для начала голосования по необходимости -->
		<% if (app.start_real_orpau) { %>

		<h2>Единая информационная система арбитражных управляющих</h2>

		<form action="" class="orpau-login-form">
			<div class="row">
				<span class="semi-bold">E-mail, Логин или Номер телефона:</span><br>
				<input type="text" name="Login" value="<%= obj.txt('Login') %>" autofocus="autofocus" /><br>
				<span style="font-size:x-small;color:gray;">Номер телефона нужно вводит в формате: 7xxxxxxxxxx</span>
			</div>
	
			<div class="row">
				<span class="semi-bold">Пароль:</span><br>
				<div class="password-input-container">
					<input type="password" name="Password" value="<%= obj.txt('Password') %>" />
					<span class="icon-password-toggle" title="Показать пароль"></span>
				</div>
				<div class="forgot-password">Забыл пароль</div>
			</div>

			<div class="row how-login-text">
				Для входа необходимо разрешить в настройках аккаунта использование <b>логина</b> и <b>пароля</b> в качестве данных для авторизации.
			</div>

			<div class="buttons">
				<button type="submit" class="button button-red">Войти</button>
			</div>
		</form>
		<% } %>
	</div>

	<div class="cpw-orpau-start-page-footer">
		Единая информационная система арбитражных управляющих
		<br/>
		<br/>
		ООО «Русские информационные технологии»<br/>
		в соответствии с пунктом 4 статьи 5 Отраслевого соглашения в сфере несостоятельности (банкротства)<br/>
		и финансового оздоровления на 2020-2022 годы.<br/>
	</div>
</div>