<style>
div.cpw-orpau-profile span.label
{
	font-size: 12px;
	color: #808080;
}
div.cpw-orpau-profile table.fio
{
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 14px;
}
div.cpw-orpau-profile table.fio td { width: 50%; }

div.cpw-orpau-profile .settings
{
	border-top: 1px solid #dfdfdf;
	padding-top: 14px;
}
div.cpw-orpau-profile div.fields
{
	display: inline-block;
	width: 330px;
	vertical-align: bottom;
}
div.cpw-orpau-profile div.fields input[name="email"],
div.cpw-orpau-profile div.fields input[name="login"] { width: 95%; }
div.cpw-orpau-profile div.settings .row:not(:last-child) { margin-bottom: 14px; }
div.cpw-orpau-profile div.settings[password_enabled="true"] span.password_disabled
{
	display: none;
}
div.cpw-orpau-profile div.settings[password_enabled="false"] span.password_enabled
{
	display: none;
}
div.cpw-orpau-profile div.settings[password_enabled="false"] button.password_enabled
{
	opacity: 0.6;
	cursor: not-allowed;
}
div.cpw-orpau-profile div.fields span.password_disabled,
div.cpw-orpau-profile div.fields span.password_enabled
{
	color: gray;
	font-size: 13px;
}
div.cpw-orpau-profile div.fields span.password_disabled strong,
div.cpw-orpau-profile div.fields span.password_enabled strong
{
	font-size: 14px;
	font-weight: 600;
}
div.cpw-orpau-profile div.fields span.password_disabled strong { color: red; }
div.cpw-orpau-profile div.fields span.password_enabled strong { color: green; }
div.cpw-orpau-profile button.профсоюз, 
div.cpw-orpau-profile button.асп-данные
{
	margin-right: 10px;
}
div.cpw-orpau-profile .phone-field-rule
{
	font-size:x-small;
	color:gray;
	margin-left: 335px;
}
@media screen and (max-width: 480px)
{
	div.cpw-orpau-profile div.fields { width: 100%; }
	div.cpw-orpau-profile div.fields:not(:last-child)
	{
		margin-bottom: 14px;
	}
	div.cpw-orpau-profile div.fields input[name="phone"]
	{
		width: 95%;
	}
	div.cpw-orpau-profile .профсоюз-документ,
	div.cpw-orpau-profile .асп-документ { margin-top: 10px; }
	div.cpw-orpau-profile .phone-field-rule { margin: 0; }
}
</style>
<%
var manager= obj.value();
if (null==manager)
	manager= {};
var pass_enabled= manager && manager.Password;
if (!pass_enabled)
	pass_enabled= false;
%>
<div class="cpw-orpau-profile">

	<table class="fio">
		<tr>
			<td>
				<span class="label">ФИО</span><br>
				<%= manager.LastName %><% if (0) { %>Иванов<% } %> 
				<%= manager.FirstName %><% if (0) { %>Иван<% } %> 
				<%= manager.MiddleName %><% if (0) { %>Иванович<% } %>
			</td>
			<td>
				<span class="label">№ ЕФРСБ</span><br>
				<%= manager.RegNum %><% if (0) { %>236784<% } %>
			</td>
		</tr>
		<tr>
			<td>
				<span class="label">ИНН</span><br>
				<%= manager.INN %><% if (0) { %>562142080487<% } %>
			</td>
			<td>
				<span class="label">СРО</span><br>
				<%= manager.SROName %><% if (0) { %>Нежадные АУ<% } %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<span class="label">Адрес для корреспонденции</span><br>
				<%= manager.CorrespondenceAddress %><% if (0) { %>Москва, Ильинка 139, оф. 1<% } %>
			</td>
		</tr>
	</table>

	<div class="settings" password_enabled="<%= pass_enabled %>">

		<div class="row">
			<div class="fields">
				<span class="label">Логин</span><br>
				<input type="text" value="<%= obj.txt('Login') %>" name="login"/>
			</div> 
			<div class="fields">
				<span class="label">Телефон</span><br> 
				<input type="text" value="<%= obj.txt('Phone') %>" name="phone"/>
			</div>
			<span class="phone-field-rule">Номер телефона нужно вводит в формате: 7xxxxxxxxxx</span>
		</div>

		<div class="row">
			<div class="fields">
				<span class="label">E-mail</span><br>
				<input type="text" value="<%= obj.txt('EMail') %>" name="email"/>
			</div> 
			<button class="button password">
				<span>Выслать</span> <span class="password_enabled">новый</span> <span>пароль доступа</span>
			</button>
		</div>

		<div class="row">
			<div class="fields">
				<span class="label">Пароль доступа</span><br>
				<span class="password_enabled">
					<strong>Есть</strong> 
					<span>(АУ может авторизоваться по e-mail и паролю)</span>
				</span> 
				<span class="password_disabled"> 
					<strong>Нет</strong> 
					<span>(АУ НЕ может авторизоваться по e-mail и паролю)</span>
				</span>
			</div> 
			<button class="button block password_enabled">Заблокировать доступ</button>
		</div>

		<div class="row">
			<span class="label">Общероссийский профсоюз Арбитражных Управляющих</span><br>
			<% if (manager.СостоитВПрофсоюзе) { %>
				<button class="button профсоюз-документ">Посмотреть подписанное заявление</button>
			<% } else {%>
				<button class="вступить-в-профсоюз-профиль">Вступить в профсоюз</button>
			<% } %>
		</div>

		<div class="row">
			<span class="label">
				Аналог собственноручной подписи (АСП) - для голосования без сертификата, 
				<a href="<%= app.url_offer_asp %>">по соглашению</a>
			</span><br>
			<% if (!manager.ИспользуетАСП) { %>
				<button class="использовать-асп">Присоединиться к соглашению об АСП</button>
			<% } else {%>
				<button class="button асп-данные">Посмотреть данные о подписании</button> 
				<button class="button асп-документ">Посмотреть подписанное заявление</button>
			<% } %>
		</div>

	</div>
</div>