<%
var subjectName=null;
var subjectINN=null;
var issuerName=null;
var serialNumber=null;
var signingTime=null;

function getFieldFromCert(subject, field) {
    var sn = subject;
    var sn_split = sn.split(',');

    for (var i = 0; i < sn_split.length; i++) {
        var item_split = sn_split[i].toString().split('=');
        if (item_split[0].trim() == field) {
            return item_split[1];
        }
    }
}

if(obj && obj.signers && obj.signers.length > 0) {
    var signer = obj.signers[0];
    var certificate= signer.certificate;
    var subject = certificate.Subject;
    var issuer = certificate.Issuer;

    subjectName=getFieldFromCert(subject, "CN") || subject;
    subjectINN=getFieldFromCert(subject, "ИНН") || null;
    issuerName=getFieldFromCert(issuer, "CN") || issuer;
    serialNumber=certificate.SerialNumber;
    signingTime =signer.signing_time
}
%>
1. Владелец подписи:<br/>
- CN (ФИО): <b><%=subjectName %><% if (0) { %>Тестовый центр123<% } %></b><br/>
- ИНН: <b><%=subjectINN %><% if (0) { %>000000000000<% } %></b><br/>
<br/>
2. Время подписания: <b><%=signingTime%><% if (0) { %>12.12.2012<% } %></b><br/>
<br/>
3. Данные сертификата:<br/>
- Серийный номер: <b><%=serialNumber %><% if (0) { %>000<% } %></b><br/>
- Информация об удостоверяющем центре, выпустившем сертификат: <br/>
<b><%=issuerName %><% if (0) { %>Иванова<% } %></b>