<style>
    div.cpw-orpau-forgot-password input[name="Login"] {
        width: 100%;
        margin-top: 10px;
    }
</style>
<div class="cpw-orpau-forgot-password">
    <span class="semi-bold">
        Введите Логин, e-mail или номер телефона пользователя
        для которого нужно выслать пароль на почту:
    </span>
    <br/>
    <input type="text" name="Login"/>
</br>