﻿<style>

</style>
<div class="cpw-orpau-admin-main">

	<center>Административная часть сайта ОРПАУ</center>

	<div id="cpw-orpau-admin-main-tabs"  <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#admin-main-tab-managers">Арбитражные управляющие</a></li>
			<li><a href="#admin-main-tab-groups">Рабочие группы АУ</a></li>
			<li><a href="#admin-main-tab-polls">Голосования</a></li>
		</ul>
		<div id="admin-main-tab-polls" style="display: block;">
			<% if (0) { %>Голосования<% } %>
			<%= obj.fields_control('Голосования') %>
		</div>
		<div id="admin-main-tab-groups" style="display: block;">
			<% if (0) { %>Группы<% } %>
			<%= obj.fields_control('Группы') %>
		</div>
		<div id="admin-main-tab-managers" style="display: block;">
			<% if (0) { %>АУ<% } %>
			<%= obj.fields_control('АУ') %>
		</div>
	</div>

</div>