<style>
div.aspcpw-orpau-asp-agreement .document-on-sign
{
	height: 380px;
	width: 100%;
	border: 2px solid green;
	color: green;
	overflow: auto;
	box-sizing: border-box;
	font-size:small;
	margin: 1em 0;
	padding-left:5px;
	padding-right:5px;
	border-radius: none;
}
div.aspcpw-orpau-asp-agreement div.sign-title p{margin:0;}
div.aspcpw-orpau-asp-agreement .pre-color { color:green; }
</style>
<div class="aspcpw-orpau-asp-agreement">
	<div class="sign-title">
		Подписание заявления о присоединении к соглашению<br/>
		<p style="text-align:right">об использовании аналога собственноручной подписи</p>
	</div>

	<textarea readonly="readonly" class="document-on-sign" <%= obj.textarea_attrs('text') %>
		><%= obj.value() %></textarea>

	<p>
		<span>Подписываемый текст обведён рамкой и показан буквами</span> 
		<span class="pre-color">зелёного цвета</span>.
	</p>

</div>