<div>
	Подписание и проверка аналога собственноручной подписи (АСП)<br />
	основано на использовании контактных данных подписывающего.<br />
	<br />
	Эти данные вписываются в<br />
	заявление о присоединении к 
	<a href="<%= app.url_offer_asp %>">соглашению об использовании АСП</a>.<br />
	<br />
	<span>Пожалуйста, укажите в профиле Ваши реквизиты:</span>'
	<ul>
		<li><b>номер мобильного телефона для получения СМС</b> с одноразовым ключом АСП (в поле "Телефон" профиля)</li>
		<li><b>адрес электронной почты</b> для получения подписываемых документов и подписей (в поле "E-mail" профиля)</li>
	</ul>
	перед тем как подписывать заявление.
</div>
