<div>
	Вы авторизованы как арбитражный управляющий<br/>
	<b><%= obj.ау.LastName %><% if (0) { %>Иванов<% } %></b> 
	<b><%= obj.ау.FirstName %><% if (0) { %>Иван<% } %></b> 
	<b><%= obj.ау.MiddleName %><% if (0) { %>Иванович<% } %></b> 
	(ИНН:<b><%= obj.ау.INN %><% if (0) { %>547397319601<% } %></b>).
	<br/>
	<br />
	Выбранный Вами сертификат содержит следующую информацию о владельце сертификата ключа проверки электронной подписи:
	<ul>
	<% for (name in obj.cert) { %>
		<li>
			<span><%= name %><% if (0) { %>ИНН<% } %></span>: 
			<b><%= obj.cert[name] %><% if (0) { %>880295337120<% } %></b>
		</li>
	<% } %>
	</ul>
	<span>Реквизиты, указанные в сертификате не соответствуют реквизитам авторизованного пользователя!</span>
</div>
