﻿<style>
	div.cpw-form-orpau-admin-managers .cpw-orpau-admin-groups-filter {
		margin: 5px 0 15px;
	}
	div.cpw-form-orpau-admin-managers .cpw-orpau-admin-groups-filter .select2-container {
		margin-left: 20px;
		display: inline-block;
		max-width: 575px;
	}
	div.cpw-form-orpau-admin-managers .admin-groups-select2 .select2-search-choice-close {
		left: unset !important;
		right: 35px !important;
		top: 13px;
	}
	div.cpw-form-orpau-admin-managers .select2-container.select2-allowclear .select2-choice span
	{
		margin-left: 10px;
	}
</style>

<div class="cpw-form-orpau-admin-managers cpw-form-ama-datamart-grid">
	<div class="cpw-orpau-admin-groups-filter">
		<span>Показаны участники группы:</span>
		<div class="select2 admin-groups-select2" <%= obj.select2_attrs('Группы') %> >тут должен быть select2</div>
	</div>
	<div class="grid">
		<table id="cpw-orpau-admin-managers-grid" class="grid"></table>
		<div id="cpw-orpau-admin-managers-grid-pager"></div>
	</div>
</div>
