﻿<style>
div.cpw-orpau-manager
{
	width: 900px;
	margin: 0 auto;
	line-height: 25px;
}

div.cpw-orpau-manager #cpw-orpau-procedure-grid-pager_left
{
	width: 250px;
}

div.cpw-orpau-manager #cpw-orpau-procedure-grid-pager_center td[dir="ltr"]
{
	font-size:x-small
}

div.cpw-orpau-manager div.row * {
	vertical-align: middle;
}

div.cpw-orpau-manager div.row button {
	float: right;
}

div.cpw-orpau-manager div.label {
	display: inline-block;
	color: gray;
	margin-right: 5px;
}

div.cpw-orpau-manager div.value {
	display: inline-block;
	margin-right: 10px;
}

div.cpw-orpau-manager div.label.second {
	margin-left: 31px;
}

div.cpw-orpau-manager table tr.title {
	font-weight: bold;
}

div.cpw-orpau-manager .ui-jqgrid .ui-jqgrid-bdiv {
	min-height: 300px;
	box-sizing:content-box;
}
</style>
<%
var o= obj.value();
if (!o || null==o)
	o= {};
%>
<div class="cpw-orpau-manager">

	<div class="row">
		<div class="label">Фамилия:</div>
		<div class="value"><%= o.LastName %><% if (0) { %>Сидоров<% } %></div>
		<div class="label">Имя:</div>
		<div class="value"><%= o.FirstName %><% if (0) { %>Сидор<% } %></div>
		<div class="label">Отчество:</div>
		<div class="value"><%= o.MiddleName %><% if (0) { %>Сидорович<% } %></div>
	</div>

	<div class="row">
		<% if (o.INN) { %>
		<div class="label second">ИНН:</div>
		<div class="value"><%= o.INN %><% if (0) { %>295576085607<% } %></div>
		<% } %>
		<div class="label">СРО АУ:</div>
		<div class="value">
			<% if (!o.SRORegNum || null==o.SRORegNum) { %>
				<span style="color:red">Не состоит в СРО</span>
			<% } else { %>
				<%= o.SROName %><% if (0) { %>СРО АУ и люди<% } %>
			<% } %>
		</div>
	</div>

	<div class="row">
		<%if (o.CorrespondenceAddress){%>
		<div class="label">Почтовый адрес:</div>
		<div class="value"><%= o.CorrespondenceAddress %><% if (0) { %>Лениград, ул Марата 234-11<% } %></div>
		<%}%>
	</div>

	<div class="row">
		<div class="label">Процедуры АУ:</div>
	</div>

	<div class="procedure-grid">
		<table id="cpw-orpau-procedure-grid" class="procedure-grid-table">
			<% if (0) { %><tr><td>Таблица с процедурами</td></tr><% } %>
		</table>
		<div id="cpw-orpau-procedure-grid-pager"><% if (0) { %>Навигационная панель<% } %></div>
	</div>
</div>