﻿<style>
div.cpw-dm-award-signed {
	margin: 30px auto 0;
}
div.cpw-dm-award-signed p
{
	margin: 0 0 10px;
}
div.cpw-dm-award-signed textarea
{
	margin-bottom: 15px;
	/* max-width: 900px; */
	width: 100%;
	height:200px;
	border-radius: 3px;
	color: #000;
	padding: 3px 5px;
}
</style>
<%
var d= obj.value();
if (!d || null==d)
	d= {};
var АУ= d.АУ;
if (!АУ || null==АУ)
	АУ= {};
%>
<div class="cpw-dm-award-signed">
	<p>
		Уважаемый(-ая) 
		<%= АУ.Фамилия %><% if (0) { %>Глазырин<% } %> 
		<%= АУ.Имя %><% if (0) { %>Роман<% } %> 
		<%= АУ.Отчество %><% if (0) { %>Анатольевич<% } %>, 
		мы зарегистрировали ваш голос
	</p>

	<textarea readonly="readonly"><%= d.Подписано %></textarea>

	<p style="font-size: 18px;">
		Спасибо за ваш голос!
	</p>

	<p>
		Подписанный бюллетень будет выслан на указанный вами адрес 
		<b><%= АУ.email %></b><% if (0) { %>ффф@ggg.hhh<% } %>
	</p>

	<p class="font-14" style="color:red">
		<b>Если что-то учтено неверно, позвоните по номеру +7 (499) 673-03-37</b>
	</p>
	<div class="footer">
		<button class="back-to-polls">Назад к выбору номинации</button>
	</div>
</div>