<style>
.cpw-form-orpau-admin-polls-result
{
	margin:0 auto;
    min-height: 360px;
}
.cpw-form-orpau-admin-polls-result textarea
{
	font-weight: 600;
	width: 100%;
}
.cpw-form-orpau-admin-polls-result label.poll-took-place > span {
    vertical-align: middle;
}

div.cpw-form-orpau-admin-polls-result table.questions
{
	width: 100%;
	border: 1px solid #DFDFDF;
	border-radius: 5px;
	border-collapse: separate;
	border-spacing: 0px;
}
div.cpw-form-orpau-admin-polls-result table.questions tr.question:nth-child(2n+1)
{
	background: #F5F5F5;
}
div.cpw-form-orpau-admin-polls-result table.questions tr.question td
{
	padding: 10px 5px 10px 10px;
	vertical-align: top;
}
div.cpw-form-orpau-admin-polls-result table.questions tr.question td:nth-last-child()
{
	border-bottom: 1px solid #DFDFDF;
}
div.cpw-form-orpau-admin-polls-result table.questions tr.question:hover
{
	background: #dfdfdf;
	cursor: pointer;
}
div.cpw-form-orpau-admin-polls-result table.questions span.question
{
	color: black;
	/* padding-left: 10px; */
}
div.cpw-form-orpau-admin-polls-result table.questions span.votes
{
	color: gray;
	font-size: smaller;
	padding-right: 10px;
	line-height: 21px;
}
div.cpw-form-orpau-admin-polls-result table.questions textarea
{
	width: 75%;
	margin-left: 5px;
}

div.cpw-form-orpau-admin-polls-result tr.decision-made label.decision-made
,div.cpw-form-orpau-admin-polls-result tr.decision-is-not-made label.decision-is-not-made
{
	color: black;
}
div.cpw-form-orpau-admin-polls-result tr.decision-made label.decision-is-not-made
,div.cpw-form-orpau-admin-polls-result tr.decision-is-not-made label.decision-made
,div.cpw-form-orpau-admin-polls-result tr.decision-made label.decision-is-not-made
,div.cpw-form-orpau-admin-polls-result tr.decision-is-not-made label.decision-made
{
	color: silver;
	text-decoration: line-through;
}
div.cpw-form-orpau-admin-polls-result tr.decision-is-not-made textarea
{
	visibility: hidden;
}
div.cpw-form-orpau-admin-polls-result div.decision
{
	display: inline-block;
	vertical-align:top;
}

div.cpw-form-orpau-admin-polls-result.did-not-took-place label.poll-took-place.took-place
,div.cpw-form-orpau-admin-polls-result.took-place label.poll-took-place.did-not-took-place
{
	color: silver;
	text-decoration: line-through;
}
div.cpw-form-orpau-admin-polls-result div.to-print {
    margin-top: 15px;
}
div.cpw-form-orpau-admin-polls-result.took-place div.comments textarea
,div.cpw-form-orpau-admin-polls-result.took-place div.comments .hide-text
,div.cpw-form-orpau-admin-polls-result.took-place div.comments button
,div.cpw-form-orpau-admin-polls-result.did-not-took-place div.decision
,div.cpw-form-orpau-admin-polls-result.did-not-took-place table.questions textarea
{
	display: none;
}

/* custom checkbox*/
div.cpw-form-orpau-admin-polls-result label.container
{
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	display: inline-block;
	vertical-align: middle;
	height: 14px;
	width: 14px;
}
div.cpw-form-orpau-admin-polls-result label.container input
{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	z-index: -999;
}
div.cpw-form-orpau-admin-polls-result .checkmark
{
	position: absolute;
	top: 0;
	left: 0;
	height: 14px;
	width: 14px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #A6A6A6;
	box-sizing: border-box;
}
div.cpw-form-orpau-admin-polls-result label.container.disabled
{
	cursor: not-allowed;
}
div.cpw-form-orpau-admin-polls-result label.container.disabled .checkmark
{
	background-color: #CFCFCF;
	border: 1px solid #CFCFCF;
}
div.cpw-form-orpau-admin-polls-result label.container input:checked~.checkmark
{
	background-color: #D3242C;
}
div.cpw-form-orpau-admin-polls-result .checkmark:after
{
	content: "";
	position: absolute;
	display: none;
}
div.cpw-form-orpau-admin-polls-result label.container input:checked~.checkmark:after
{
	display: block;
}
div.cpw-form-orpau-admin-polls-result label.container input:checked~.checkmark
{
	border-color: transparent;
}
div.cpw-form-orpau-admin-polls-result label.container .checkmark:after
{
	top: 1px;
	left: 1px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid #fff;
	box-sizing: border-box;
	background: #D3242C;
}

.cpw-form-orpau-admin-polls-result-title
{
    margin-bottom: 10px;
}
</style>
<%
var poll = obj.value();
var Вопросы = !poll || !poll.Вопросы ? [] : poll.Вопросы;
var Состояние = !poll || !poll.Состояние ? 'Голосование' : poll.Состояние;
var Результаты = !poll || !poll.Результаты ? [] : poll.Результаты;
var Голосуют = !poll || !poll.Голосуют ? '' : poll.Голосуют;

var кто_голосует = '';
if(Голосуют == "все")
{
    кто_голосует = "Все";
} else if(poll.Из)
{
    var keys = Object.keys(poll.Из);
    if(keys.length && poll.Из[keys[0]].text)
    {
        var key = keys[0];
        кто_голосует = "из "+key+" "+poll.Из[key].text;
    }
}
%>
<div class="cpw-form-orpau-admin-polls-result-title">
    Голосование: <b><%= poll.Название %><% if (0) { %>Выразить озабоченность ситуацией в Гондурасе<% } %></b>
    <br/>
    Подведение итогов: <b><%= poll.Завершение.Дата %> <%= poll.Завершение.Время %></b>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Голосуют: <b><%=кто_голосует %></b>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Статус: 
    <b>
        <%if(Состояние =="Создано"){%>Голосование еще не открыто<%}%>
        <%if(Состояние =="Голосование" || Состояние == 'Продолжено'){%>Идет голосование<%}%>
        <%if(Состояние =="Приостановлено"){%>Голосование приостановлено<%}%>
        <%if(Состояние =="Отменено"){%>Голосование отменено<%}%>
        <%if(Состояние =="Завершено"){%>Голосование завершено<%}%>
    </b>
</div>
<div class="cpw-form-orpau-admin-polls-result">
<!-- <div class="cpw-form-orpau-admin-polls-result <%= 'Голосование'!=Состояние ? '' : 'did-not-took-place' %>"> -->

    <!--
    <% if ('Голосование'==Состояние || 'Не состоялось'==Состояние) { %>
        <div class="comments"> 
            <label class="poll-took-place did-not-took-place">
                <label class="container">
                    <input type="radio" name="poll-took-place" checked="checked" value="did-not-took-place" />
                    <span class="checkmark"></span>
                </label>
                
                <span>&nbsp;Голосование не состоялось. <span class="hide-text">Пояснения:</span></span>
            </label><br/>
            <textarea rows="3" id="poll-did-not-took-place-comments" <%= 'Завершено'==Состояние ? 'readonly="readonly"' : '' %> 
                ><%= !poll || !poll.Заседание_не_состоялось ? '' : meeting.Заседание_не_состоялось.Пояснения %><% if (0) { %>А вот<% } %></textarea>
        </div>
    <% } %>

    <% if ('Голосование'==Состояние) { %>
        <label class="poll-took-place took-place">
            <label class="container">
                <input type="radio" name="poll-took-place" value="took-place" />
                <span class="checkmark"></span>
            </label>

            <span>&nbsp;Голосование состоялось со следующими результатами:</span>
        </label>
    <% } %>
    -->

    <% if ('Голосование'==Состояние || 'Продолжено'==Состояние || 'Приостановлено'==Состояние) { %>
        <label class="poll-took-place">
            <span>Голосование проходит со следующими результатами:</span>
        </label>
    <% } %>
    <% if ('Завершено'==Состояние) { %>
        <label class="poll-took-place">
            <span>Голосование состоялось со следующими результатами:</span>
        </label>
    <% } %>
    <% if ('Отменено'==Состояние) { %>
        <label class="poll-took-place">
            <span>Участники голосовали следующим образом:</span>
        </label>
    <% } %>

    <table class="questions" >
        <% for (var i=0; i < Вопросы.length; i++){
            var номер = i+1;
            var вопрос = Вопросы[i];
            var На_голосование = вопрос.На_голосование;
            var расчёт = obj.options.h_admin_poll_results.рассчитатьГолосаДляВопроса(вопрос, Результаты);
            var формулировка_решения= obj.options.h_admin_poll_results.Формулировка_решения(вопрос, расчёт);
        %>
            <tr class="question<%= расчёт.Решение_принято ? ' decision-made' : ' decision-is-not-made' %>" number="<%= номер %>" question-id="<%= вопрос.id %>">
                <td><%= номер %><% if (0) { %>1<% } %>) </td>
                <td>
                    На голосование вопрос: <span class="question"><%= На_голосование.Формулировка %></span>
                    <% if (0) { %>Выразить озабоченность ситуацией в Гондурасе<% } %>
                    <br/>
                    <span class="votes">
                        <% if (0==расчёт.Голосов) { %>
                            Подписанные бюллетени с ответами на вопрос отсутствуют.
                        <% } else { %>
                            В электронных бюллетенях: 
                            <a href="#null" class="details">
                                <%= расчёт.Самый_популярный_вариант.Голосов %><% if (0) { %>6<% } %> 
                                из 
                                <%= расчёт.Голосов %><% if (0) { %>11<% } %> 
                                голосов (<%= расчёт.Самый_популярный_вариант.Процентов %><% if (0) { %>50<% } %>%) 
                                <% if ("f2"==вопрос.На_голосование.Форма_бюллетеня) { %>за вариант<% } %> 
                                «<%= расчёт.Самый_популярный_вариант.Текст %><% if (0) { %>За<% } %>»
                            </a>
                        <% } %>
                    </span><br/>
                    <% if ('Голосование'==Состояние || 'Продолжено'==Состояние || 'Приостановлено'==Состояние || 'Завершено'==Состояние) { %>
                        <div class="decision">
                            <% if ('Голосование'==Состояние || 'Продолжено'==Состояние || 'Приостановлено'==Состояние || расчёт.Решение_принято) { %>
                                <label class="decision-made">
                                    <% if ('Голосование'==Состояние || 'Продолжено'==Состояние || 'Приостановлено'==Состояние) { %>
                                    <label class="container">
                                        <input value="decision-made" type="radio" name="decision-state<%= i %>" <%= !расчёт.Решение_принято ? '' : 'checked="checked"' %> />
                                        <span class="checkmark"></span>
                                    </label>
        
                                    <% } %>
                                    &nbsp;Принято решение:
                                </label><br/>
                            <% } %>
                            <% if ('Голосование'==Состояние || 'Продолжено'==Состояние || 'Приостановлено'==Состояние || !расчёт.Решение_принято) { %>
                                <label class="decision-is-not-made">
                                    <% if ('Голосование'==Состояние || 'Продолжено'==Состояние || 'Приостановлено'==Состояние) { %>
                                    <label class="container">
                                        <input value="decision-is-not-made" type="radio" name="decision-state<%= i %>" <%= расчёт.Решение_принято ? '' : 'checked="checked"' %> />
                                        <span class="checkmark"></span>
                                    </label>
                                    <% } %>
                                    &nbsp;Решение не принято.
                                </label>
                            <% } %>
                        </div>
                        <% if ('Голосование'==Состояние || 'Продолжено'==Состояние || 'Приостановлено'==Состояние || расчёт.Решение_принято) { %>
                            <textarea rows="2" id="committee-results" <%= 'Голосование'==Состояние || 'Продолжено'==Состояние || 'Приостановлено'==Состояние ? '' : 'readonly="readonly"' %> 
                                ><%= формулировка_решения %><% if (0) { %>Выразить озабоченность ситуацией в Гондурасе<% } %></textarea>
                        <% } %>
                    <% } %>
                </td>
            </tr>
        <% } %>
    </table>

    <!--todo <div class="to-print">
        <div class="title">Документы на печать:</div>
        <button class="bulletins button">Бюллетени с подписями</button> 
        <button class="protocol button">Технический протокол</button>
    </div> -->
</div>